<div class="row">
	<div class="col-md-12 footer-confival">
		<div class="card-body border-bottom">
			<div class="container top-footer">
				<div class="row">
					<div class="col-lg-5 col-md-12">
						<h6>Sobre nosotros</h6>
						<p>Somos una empresa experta en la compra de sentencias judiciales en contra del Estado. Iniciamos nuestra operación en el año 2010 y hemos comprado sentencia por más de 150 Millones de dólares y hemos cerrado más de 2700 negocios con clientes satisfechos, lo que nos hace experto en el ámbito de compra de sentencias.</p>
					</div>
					<div class="col-lg-4 col-md-12">
						<h6>Información de contacto</h6>
						<ul class="list-unstyled mb-5 mb-lg-0">
							<li><p><i class="fa fa-home me-3 mb-2"></i>Bogota Cra 14 No 100-19 Oficina 401-403</p></li>
							<li><p><i class="fa fa-phone me-3 mb-2"></i>(+ 57) 321 452 9630</p></li>
							<li><p><i class="fa fa-phone me-3 mb-2"></i>(+ 57) 314 669 9814</p></li>
							<li><p><i class="fa fa-envelope me-3 mb-2"></i>info@confival.com</p></li>
							<li><p><i class="fa fa-search me-3 mb-2"></i>Lunes - Viernes: 8:00am - 6:00pm</p></li>
						</ul>
					</div>
					<div class="col-lg-2 col-md-12">
						<h6>Paginas</h6>
						<ul class="list-unstyled mb-5 mb-lg-0">
							<li><a href="https://localhost:7191/">Inicio</a></li>
							<li><a href="https://localhost:7191/#Servicios">Servicios</a></li>
							<li><a href="https://localhost:7191/#Blog">Blogs</a></li>
							<li><a href="https://localhost:7191/Contacto">Contacto</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="container">
				<footer class="main-footer px-0 pb-0">
					<div class="row ">
						<div class="col-xl-8 col-lg-12 col-md-12 footer1">Todos los Derechos Reservados por Confival Capital 2023</div> 
						<div class="col-xl-4 col-lg-12 col-md-12 ms-auto text-end">
							<ul class="footer-social-list "> 
								<li><a href="https://www.facebook.com/ConfivalSentencias" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://wa.link/4gvxcb" target="_blank"><i class="fa fa-whatsapp"></i></a> </li>
								<li><a href="https://www.linkedin.com/company/confival/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							</ul> 
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>
	<!-- COL-END -->
</div>