<div class="row" style="padding-top: 50px;">
	<div class="col-md-12 footer-confival">
		<div class="card-body border-bottom">
			<div class="top-footer">
				<div class="row">
					<div class="col-lg-4 col-md-12">
						<h6>Sobre nosotros</h6>
						<p>Somos una empresa experta en la compra de sentencias judiciales en contra del Estado. Iniciamos nuestra operación en el año 2010 y hemos comprado sentencia por más de 150 Millones de dólares y hemos cerrado más de 2700 negocios con clientes satisfechos, lo que nos hace experto en el ámbito de compra de sentencias.</p>
						<div class="row ">
							<div class="col-xl-12 col-lg-12 col-md-12 footer1">
								<img alt="" class="logo-2" src="~/assets/images/brand/Logo-Confival-Blanco.png" style="width:290px;"/>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-12">
						<h6>Paginas</h6>
						<ul class="list-unstyled mb-5 mb-lg-0">
							<li><a href="https://localhost:7191/">Inicio</a></li>
							<li><a href="https://localhost:7191/#Servicios">Servicios</a></li>
							<li><a href="https://localhost:7191/#Blog">Blogs</a></li>
							<li><a href="javascript:;">Nosotros</a></li>
							<li><a href="javascript:;">Testimonios</a></li>
							<li><a href="javascript:;">Sevipz</a></li>
							<li><a href="javascript:;">Contacto</a></li>
						</ul>
					</div>
					<div class="col-lg-2 col-md-12">
						<h6>Ubicación</h6>
						<ul class="list-unstyled mb-5 mb-lg-0">
							<li><p>Dirección: Bogota, Colombia Cra 14 No 100-19 Oficina 401-403</p></li>
							<li><p>Telefono 1: (57) 321 452 9630</p></li>
							<li><p>Telefono 2: (57) 314 669 9814</p></li>
							<li><p>Email: info@confival.com</p></li>
							<li><p>Horario: Lunes - Viernes: 8:00am - 6:00pm</p></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-12">
						<h6>Blogs Confival</h6>
						<img alt="" src="~/assets/images/media/media1.jpg">
						<img alt="" src="~/assets/images/media/media2.jpg">
						<img alt="" src="~/assets/images/media/media3.jpg">
						<img alt="" src="~/assets/images/media/media4.jpg">
						<hr>
						<h6 class="mb-0 m-t-30 pad-text">Redes Sociales</h6>
						<ul class="footer-social-list">
							<li><a href="javascript:;" class="social-icon"><i class="fa fa-facebook"></i></a></li>
							<li><a href="javascript:;" class="social-icon"><i class="fa fa-google"></i></a></li>
							<li><a href="javascript:;" class="social-icon"><i class="fa fa-twitter"></i></a></li>
							<li><a href="javascript:;" class="social-icon"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<footer class="main-footer ps-3 pe-3" style="background-color: #034A69">
				<div class="row ">
					<p class="derechos-confival margin-auto">Todos los Derechos Reservados por CONFIVAL 2020</p>
				</div>
			</footer>
		</div>
	</div>
	<!-- COL-END -->
</div>