@using confinancia.Models;
@model IndicadoresDTO

<div class="container px-5 px-md-0">
	<div class="row">
		<div class="card mt-3 mb-0">
			<div class="card-body text-dark px-0 pb-0">
				<div class="statistics-info">
					<div class="col-xl-12 col-12">
						<div class="row">
							<div class="col-xl-4 col-md-12 col-sm-12 margin-accordion-center">
								<div class="services-statistics">
									<div class="row">
										<h1 class="header-family">@Model.Title</h1>
										<h4>@Model.Paragraph </h4>
									</div>
								</div>
							</div>
							<div class="col-xl-8 col-md-12 col-sm-12">
								<div class="card">
									<div class="card-body p-4 text-dark">
										<div class="statistics-info">
											<div class="row text-center">
												<div class="col-lg-3 col-sm-6 mt-4 mb-4">
													<div class="counter-status">
														<div class="counter-icon bg-primary-gradient box-shadow-secondary">
															<i class="icon icon-direction text-white"></i>
														</div>
														<h5 class="mb-2">Mas de </h5>
														<h2 class="counter mb-0">10</h2>
														<h5 class="mb-2">Años Acompañandote</h5>
													</div>
												</div>
												<div class="col-lg-3 col-sm-6 mt-4 mb-4">
													<div class="counter-status">
														<div class="counter-icon bg-primary-gradient box-shadow-secondary">
															<i class="icon icon-credit-card text-white"></i>
														</div>
														<h5 class="mb-2">Mas de </h5>
														<h2 class="counter mb-0">150</h2>
														<h5 class="mb-2">
															Millones USD Operaciones Realizadas
														</h5>
													</div>
												</div>
												<div class="col-lg-3 col-sm-6  mt-4 mb-4">
													<div class="counter-statuss">
														<div class="counter-icon bg-primary-gradient box-shadow-success">
															<i class="mdi mdi-account-convert text-white"></i>
														</div>
														<h5 class="mb-2">Mas de </h5>
														<h2 class="counter mb-0">45</h2>
														<h5 class="mb-2">Profesionales a tu Servicio</h5>
													</div>
												</div>
												<div class="col-lg-3 col-sm-6 mt-4 mb-4">
													<div class="counter-status">
														<div class="counter-icon bg-primary-gradient box-shadow-danger">
															<i class="fa fa-line-chart text-white"></i>
														</div>
														<h5 class="mb-2">Mas de </h5>
														<h2 class="counter mb-0">2709</h2>
														<h5 class="mb-2">Clientes Satisfechos</h5>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>