.vs/ProjectEvaluation/webconfival.metadata.v5.2
webconfival.projects.v5.2
.vs/webconfival/config/applicationhost.config
.vs/webconfival/DesignTimeBuild/.dtbcache.v2
.vs/webconfival/FileContentIndex/
.vs/webconfival/v17/
.vs/
bin/
obj/
Properties/
confinancia.csproj.user
*.dll
