@model confinancia.Models.CategoriaDTO
@{
    Layout = "_Layout3";
}
<!-- PAGE-HEADER -->
<div class="page-header">
	<div>
		<h1 class="page-title">Crear Categorias</h1>
	</div>
	<div class="ms-auto pageheader-btn">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0);">Blogs</a></li>
			<li class="breadcrumb-item active" aria-current="page">Categoria</li>
			<li class="breadcrumb-item active" aria-current="page">Crear Categoria</li>
		</ol>
	</div>
</div>
<!-- PAGE-HEADER END -->
<!-- row -->
<div class="row">
	<div class="col-lg-12 col-md-12" id="form-categoria">
		<div class="card">
			<div class="card-header border-bottom">
				<h3 class="card-title">Crear</h3>
			</div>
			<div class="card-body">
				<p class="text-muted">Ingresa el nombre de la nueva categoria.</p>
				<div class="row">
					<div class="col-md-10 mb-3">
						<input class="form-control" placeholder="Nombre" type="text" id="nombre-categoria">
						<div class="invalid-feedback" id="invalid-nombre-categoria">Debes asignar un 'Nombre' a la categoria</div>
						<div class="invalid-feedback" id="invalid-nombre-categoria-existe">Ya existe una categoria con este nombre !!</div>

					</div>
					<div class="col-md-2">
						<button class="btn btn-primary btn-block" onclick="CrearCategoria()">Crear</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div id="categoria-guardada" class="hide-info">
		<div class="card">
			<div class="card-body">
				<div class="alert alert-default pad-text" role="alert">
					<span class="alert-inner--icon me-2"><i class="fe fe-thumbs-up"></i></span>
					<span class="alert-inner--text"><strong>Tu categoria,</strong> fue creada con exito !!!</span>
					<div class="row">
						<div class="col-12">
							<a href="#PublicarBlog" class="btn btn-success" onclick="restartCategoria()" style="margin-top:20px;">Quiero crear otra Categoria !!</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


@section scripts {
	<script src="../assets/js/WebConfival/Blogs/Categoria.js"></script>
}
