                <!--APP-SIDEBAR-->
<div class="sticky">
    <div class="top sticky overflow-hidden">

        <!--APP-SIDEBAR-->
        <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
        <div class="app-sidebar bg-transparent horizontal-main">
            <div class="container">
                <div class="main-sidemenu navbar px-0">
                    <a class="ps-0 d-none d-lg-block" asp-controller="LandingPage" asp-action="Index">
                        <img alt="" width="250" height="150" class="logo-2" src="~/assets/images/brand/LogoConfival.png">
                        <img alt="" class="dark-landinglogo" src="~/assets/images/brand/ConfinanciaLigth.png">
                    </a>
                    <ul class="side-menu ">
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="#Inicio"><span class="side-menu__label">Inicio</span></a>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="#Servicios"><span class="side-menu__label">Servicios</span></a>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="#Nosotros"><span class="side-menu__label">Nosotros</span></a>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="#Blog"><span class="side-menu__label">Blog</span></a>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="#Testimonios"><span class="side-menu__label">Testimonios</span></a>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="#Sevipaz"><span class="side-menu__label">Sevipaz</span></a>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="#Contacto"><span class="side-menu__label">Contacto</span></a>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="#Inicio"><span class="side-menu__label">Inicio</span></a>
                        </li>
                        <li class="slide">
                            <a class="side-menu__item" data-bs-toggle="slide" href="#Inicio"><span class="side-menu__label">Inicio</span></a>
                        </li>
                        <li class="slide">
                            <form asp-controller="LandingPage" asp-action="SignIn" style="margin-top:9px">	<button type="submit" class="side-menu__item"><span class="side-menu__label">Intranet</span></button></form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/APP-SIDEBAR-->
    </div>



</div>
<!--/APP-SIDEBAR-->
