				<!--APP-SIDEBAR-->
				<div class="sticky">
					<div class="top sticky overflow-hidden">

						<!--APP-SIDEBAR-->
						<div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
						<div class="app-sidebar bg-transparent horizontal-main">
							<div class="container">
								<div class="nav nav-basic br-7 justify-content-end">
									<a href="https://api.whatsapp.com/send/?phone=573024210805&text=Justo+a+tiempo+para+cumplir+tus+sue%C3%B1os+con+Confinancia.+Solicita+tu+cr%C3%A9dito+ahora..&type=phone_number&app_absent=0" target="_blank" class="btn btn-light mt-2"><i class="fa fa-whatsapp me-2"></i>CONFINANCIA - Pregunta Ya!</a>
									 
								</div>

								<div class="main-sidemenu navbar px-0">
									<a class="navbar-brand ps-0 d-none d-lg-block" asp-controller="LandingPage" asp-action="Index">
										<img alt="" class="logo-2" src="~/assets/images/brand/Confinancia.png">
										<img alt="" class="dark-landinglogo" src="~/assets/images/brand/ConfinanciaLigth.png">
									</a>
									<ul class="side-menu ">
										<li class="slide">
											<a class="side-menu__item active" data-bs-toggle="slide" asp-controller="LandingPage" asp-action="Index"><span class="side-menu__label">Inicio</span></a>
										</li>
										<li class="slide">
											<a class="side-menu__item" data-bs-toggle="slide" href="#Nosotros"><span class="side-menu__label">Nosotros</span></a>
										</li>
										<li class="slide">
											<a class="side-menu__item" data-bs-toggle="slide" href="#features"><span class="side-menu__label">Libranzas</span></a>
										</li>										
										<li class="slide">
											<a class="side-menu__item" data-bs-toggle="slide" href="#Contact"><span class="side-menu__label">Contacto</span></a>
										</li>
										<li class="slide">
											<a class="side-menu__item" data-bs-toggle="slide" href="#Contact"><span class="side-menu__label">Blog</span></a>
										</li>
										
										<li class="slide">
											<form asp-controller="LandingPage" asp-action="SignIn" style="margin-top:9px">	<button type="submit" class="side-menu__item"><span class="side-menu__label">Intranet</span></button></form>
										</li>
									</ul>
									
								</div>
								<div class="nav nav-basic br-7 d-md-none-max">
									Justo a tiempo para cumplir tus sueños									 
								</div>
							</div>
						</div>
						<!--/APP-SIDEBAR-->
					</div>
							
					

				</div>
				<!--/APP-SIDEBAR-->
