@model confinancia.Models.UserDTO
@{
    Layout = "_Layout3";
}
<!-- PAGE-HEADER -->
<div class="page-header">
	<div>
		<h1 class="page-title">Bienvenido</h1>
	</div>
	<div class="ms-auto pageheader-btn">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0);">Intranet Web Confival</a></li>
			<li class="breadcrumb-item active" aria-current="page">Inicio</li>
		</ol>
	</div>
</div>
<!-- PAGE-HEADER END -->
<!-- ROW-1 OPEN -->
<div class="row" id="user-profile">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="row align-items-center">
					<div class="col-lg-12 col-md-12 col-xl-6">
						<div class="d-flex flex-wrap align-items-center">
							@*<div class="profile-img-main rounded">
								<img src="~/assets/images/faces/6.jpg" alt="img" class="m-0 p-1 rounded hrem-6">
							</div>*@
							<div class="ms-4">
								<h2 class="header-family pad-text">Bienvenido</h2>
								<h3>@Model.Nombre</h3>
								<h4>@Model.Apellido</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-xl-6">
						<div class="d-md-flex flex-wrap justify-content-lg-end">
							
							<div class="media m-3">
								<div class="media-icon me-3 mt-1">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px"><path fill="#103262" d="M43.255,23.547l-6.81-3.967v11.594H44v-6.331C44,24.309,43.716,23.816,43.255,23.547z" /><path fill="#0084d7" d="M13,10h10v9H13V10z" /><path fill="#33afec" d="M23,10h10v9H23V10z" /><path fill="#54daff" d="M33,10h10v9H33V10z" /><path fill="#027ad4" d="M23,19h10v9H23V19z" /><path fill="#0553a4" d="M23,28h10v9H23V28z" /><path fill="#25a2e5" d="M33,19h10v9H33V19z" /><path fill="#0262b8" d="M33,28h10v9H33V28z" /><polygon points="13,37 43,37 43,24.238 28.99,32.238 13,24.238" opacity=".019" /><polygon points="13,37 43,37 43,24.476 28.99,32.476 13,24.476" opacity=".038" /><polygon points="13,37 43,37 43,24.714 28.99,32.714 13,24.714" opacity=".057" /><polygon points="13,37 43,37 43,24.952 28.99,32.952 13,24.952" opacity=".076" /><polygon points="13,37 43,37 43,25.19 28.99,33.19 13,25.19" opacity=".095" /><polygon points="13,37 43,37 43,25.429 28.99,33.429 13,25.429" opacity=".114" /><polygon points="13,37 43,37 43,25.667 28.99,33.667 13,25.667" opacity=".133" /><polygon points="13,37 43,37 43,25.905 28.99,33.905 13,25.905" opacity=".152" /><polygon points="13,37 43,37 43,26.143 28.99,34.143 13,26.143" opacity=".171" /><polygon points="13,37 43,37 43,26.381 28.99,34.381 13,26.381" opacity=".191" /><polygon points="13,37 43,37 43,26.619 28.99,34.619 13,26.619" opacity=".209" /><polygon points="13,37 43,37 43,26.857 28.99,34.857 13,26.857" opacity=".229" /><polygon points="13,37 43,37 43,27.095 28.99,35.095 13,27.095" opacity=".248" /><polygon points="13,37 43,37 43,27.333 28.99,35.333 13,27.333" opacity=".267" /><polygon points="13,37 43,37 43,27.571 28.99,35.571 13,27.571" opacity=".286" /><polygon points="13,37 43,37 43,27.81 28.99,35.81 13,27.81" opacity=".305" /><polygon points="13,37 43,37 43,28.048 28.99,36.048 13,28.048" opacity=".324" /><polygon points="13,37 43,37 43,28.286 28.99,36.286 13,28.286" opacity=".343" /><polygon points="13,37 43,37 43,28.524 28.99,36.524 13,28.524" opacity=".362" /><polygon points="13,37 43,37 43,28.762 28.99,36.762 13,28.762" opacity=".381" /><polygon points="13,37 43,37 43,29 28.99,37 13,29" opacity=".4" /><linearGradient id="Qf7015RosYe_HpjKeG0QTa" x1="38.925" x2="32.286" y1="24.557" y2="36.024" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#31abec" /><stop offset="1" stop-color="#1582d5" /></linearGradient><path fill="url(#Qf7015RosYe_HpjKeG0QTa)" d="M15.441,42h26.563c1.104,0,1.999-0.889,2-1.994C44.007,35.485,44,24.843,44,24.843	s-0.007,0.222-1.751,1.212S14.744,41.566,14.744,41.566S14.978,42,15.441,42z" /><linearGradient id="Qf7015RosYe_HpjKeG0QTb" x1="13.665" x2="41.285" y1="6.992" y2="9.074" gradientUnits="userSpaceOnUse"><stop offset=".042" stop-color="#076db4" /><stop offset=".85" stop-color="#0461af" /></linearGradient><path fill="url(#Qf7015RosYe_HpjKeG0QTb)" d="M43,10H13V8c0-1.105,0.895-2,2-2h26c1.105,0,2,0.895,2,2V10z" /><linearGradient id="Qf7015RosYe_HpjKeG0QTc" x1="28.153" x2="23.638" y1="33.218" y2="41.1" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#33acee" /><stop offset="1" stop-color="#1b8edf" /></linearGradient><path fill="url(#Qf7015RosYe_HpjKeG0QTc)" d="M13,25v15c0,1.105,0.895,2,2,2h15h12.004c0.462,0,0.883-0.162,1.221-0.425L13,25z" /><path d="M21.319,13H13v24h8.319C23.352,37,25,35.352,25,33.319V16.681C25,14.648,23.352,13,21.319,13z" opacity=".05" /><path d="M21.213,36H13V13.333h8.213c1.724,0,3.121,1.397,3.121,3.121v16.425	C24.333,34.603,22.936,36,21.213,36z" opacity=".07" /><path d="M21.106,35H13V13.667h8.106c1.414,0,2.56,1.146,2.56,2.56V32.44C23.667,33.854,22.52,35,21.106,35z" opacity=".09" /><linearGradient id="Qf7015RosYe_HpjKeG0QTd" x1="3.53" x2="22.41" y1="14.53" y2="33.41" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#1784d8" /><stop offset="1" stop-color="#0864c5" /></linearGradient><path fill="url(#Qf7015RosYe_HpjKeG0QTd)" d="M21,34H5c-1.105,0-2-0.895-2-2V16c0-1.105,0.895-2,2-2h16c1.105,0,2,0.895,2,2v16	C23,33.105,22.105,34,21,34z" /><path fill="#fff" d="M13,18.691c-3.111,0-4.985,2.377-4.985,5.309S9.882,29.309,13,29.309	c3.119,0,4.985-2.377,4.985-5.308C17.985,21.068,16.111,18.691,13,18.691z M13,27.517c-1.765,0-2.82-1.574-2.82-3.516	s1.06-3.516,2.82-3.516s2.821,1.575,2.821,3.516S14.764,27.517,13,27.517z" /></svg>
								</div>
								<div class="media-body margin-auto">
									<div class="fw-semibold fs-25">
										Outlook
									</div>
								</div>
							</div>

							<div class="media m-3">
								<div class="media-icon me-3 mt-1">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="48px" height="48px" fill-rule="nonzero"><defs><linearGradient x1="4.648" y1="14.648" x2="23.403" y2="33.403" gradientUnits="userSpaceOnUse" id="color-1"><stop offset="0" stop-color="#5961c3"></stop><stop offset="1" stop-color="#3a41ac"></stop></linearGradient></defs><g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,256v-256h256v256z" id="bgRectangle"></path></g><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M44,22v8c0,3.314 -2.686,6 -6,6c-3.314,0 -6,-2.686 -6,-6v-10h10c1.105,0 2,0.895 2,2zM38,16c2.209,0 4,-1.791 4,-4c0,-2.209 -1.791,-4 -4,-4c-2.209,0 -4,1.791 -4,4c0,2.209 1.791,4 4,4z" fill="#5059c9"></path><path d="M35,22v11c0,5.743 -4.841,10.356 -10.666,9.978c-5.315,-0.344 -9.334,-4.995 -9.334,-10.321v-12.657h18c1.105,0 2,0.895 2,2zM25,17c3.314,0 6,-2.686 6,-6c0,-3.314 -2.686,-6 -6,-6c-3.314,0 -6,2.686 -6,6c0,3.314 2.686,6 6,6z" fill="#7b83eb"></path><circle cx="25" cy="11" r="6" fill="#7b83eb"></circle><path d="M26,33.319v-13.319h-11v12.657c0,1.534 0.343,3.008 0.944,4.343h6.374c2.034,0 3.682,-1.648 3.682,-3.681z" fill="#000000" opacity="0.05"></path><path d="M15,20v12.657c0,1.16 0.201,2.284 0.554,3.343h6.658c1.724,0 3.121,-1.397 3.121,-3.121v-12.879z" fill="#000000" opacity="0.07"></path><path d="M24.667,20h-9.667v12.657c0,0.802 0.101,1.584 0.274,2.343h6.832c1.414,0 2.56,-1.146 2.56,-2.56v-12.44z" fill="#000000" opacity="0.09"></path><path d="M22,34h-16c-1.105,0 -2,-0.895 -2,-2v-16c0,-1.105 0.895,-2 2,-2h16c1.105,0 2,0.895 2,2v16c0,1.105 -0.895,2 -2,2z" fill="url(#color-1)"></path><path d="M18.068,18.999h-8.136v1.72h3.047v8.28h2.042v-8.28h3.047z" fill="#ffffff"></path></g></g></svg>
								</div>
								<div class="media-body margin-auto">
									<div class="fw-semibold fs-25">
										Teams
									</div>
								</div>
							</div>

							
						</div>
							<div class="user-mail">
								<h4>@Model.Correo</h4>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<!-- PROFILE JS -->
	<script src="~/assets/js/profile.js"></script>
}