               @{
    Layout = "_Layoutlandingpage";
    
    }
		@*		<!-- Header Main-->
					<div class="demo-screen-headline main-demo main-demo-1 overflow-hidden pb-0 mb-6" id="home">
						
					</div>
					<!-- Header Main Close-->*@

                <!--app-content open-->
				<div class="hor-content main-content mt-0">
					<div class="side-app demo-screen-headline">
						<!-- CONTAINER -->
						<div class="main-container">
							<div class="container px-5 px-md-0">
							<div class="overflow-hidden">
								<div class="row">
									<h3 class="text-shadow text-dark">Objetivos específicos de la Fundación Sembrando Vida y Paz SeviPaz.</h3> 
								</div>
							</div>
						</div>
						<div class="container px-5 px-md-0">
							<div class="overflow-hidden">
								<div class="row">
									<div class="col-lg-6 text-left pos-relative overflow-hidden p-3">
										
												
										<h6 class="mt-3">1. Promover y apoyar programas de capacitación y asistencia técnica, 
											jurídica, ética, moral, espiritual y axiológica, en aspectos de orden social, económico, cultural, ecológico, familiar, recreativo y deportivo.</h6>

										<h6 class="mt-3">2. Promover, conectar y ejecutar acuerdos y convenios con instituciones nacionales e 
											internacionales, públicas y privadas, tendientes a lograr el cabal cumplimiento de los objetivos.</h6>

										<h6 class="mt-3">3. Realizar estudios, foros, seminarios, así como formular propuestas de acción sobre 
											necesidades, expectativas e intereses que promuevan el mejoramiento de la calidad de vida de las personas.</h6>

										<h6 class="mt-3">4. Planear y ejecutar actividades industriales, comerciales, de servicios, 
											agropecuarias, culturales, deportivas y recreativas, que generen ingresos para la fundación.</h6>

										<h6 class="mt-3">5. Promover y apoyar las mismas actividades del numeral anterior, encaminadas a generar 
											ingresos para los distintos grupos de población objeto de los proyectos y programas emprendidos por la fundación.</h6>					
										
										
									</div>
									<div class="col-lg-6 text-left pos-relative overflow-hidden market-image">
										<img alt="" class="logo-2" src="~/assets/images/landing/market.png">
									</div>
								</div>
							</div>
						</div>
						<div class="container px-5 px-md-0">
							<div class="overflow-hidden">
								<div class="row">
									<div class="col-lg-6 text-left pos-relative overflow-hidden market-image">
										<img alt="" class="logo-2" src="~/assets/images/landing/market.png">
									</div>
									<div class="col-lg-6 text-left pos-relative overflow-hidden p-3">
										<h6 class="mt-3">6. Gestionar ante las entidades e instituciones de ayuda nacional e internacional 
											las donaciones y aportes que faciliten el desarrollo del objeto social.</h6>	

										<h6 class="mt-3">7. Gestionar créditos en entidades nacionales y extranjeras que le permitan desarrollar el objeto social.</h6>	

										<h6 class="mt-3">9. Impulsar programas ecológicos y en general otros que tiendan al sostenimiento del medio ambiente en el cual puedan participar las comunidades y las organizaciones que impulsen la causa ecológica.</h6>	
										<h6 class="mt-3">10. Editar, imprimir, adquirir y vender toda clase de libros, folletos, plegables, periódicos y otras publicaciones que coadyuven al soporte y al cumplimiento de su objeto social.</h6>	
										
									</div>
									
								</div>
							</div>
						</div>
						<br />
							
							<!-- APP-FOOTER -->
							<partial name="~/Views/Shared/layouts/_landingfooter.cshtml" />
							<!--/APP-FOOTER-->

						</div>
					</div>
					<!-- CONTAINER CLOSED -->
				</div>


