<!--APP-SIDEBAR-->
<div class="sticky">
	<div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
	<div class="app-sidebar ps ps--active-y">
		<div class="side-header">
			<a class="header-brand1" asp-controller="Home" asp-action="Index">
				<img src="~/assets/images/brand/Logo-Confival-Blanco.png" class="header-brand-img desktop-logo" alt="logo">
				<img src="~/assets/images/brand/Icono-Confival-Blanco-06.ico" class="header-brand-img toggle-logo" alt="logo">
				<img src="~/assets/images/landing/confival-ico.ico" class="header-brand-img light-logo" alt="logo">
				<img src="~/assets/images/brand/confivallog.png" class="header-brand-img light-logo1" alt="logo">
			</a><!-- LOGO -->
		</div>
		<div class="main-sidemenu">
			<div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg"
					fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
					<path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
				</svg>
			</div>
			<ul class="side-menu">
				<li>
					<h3>Menu</h3>
				</li>
				<li class="slide">
					<a class="side-menu__item" data-bs-toggle="slide" href="#">
						<i class="icon icon-pencil" style="padding-right: 13px"></i>
						<span class="side-menu__label">Publicaciones</span><i class="angle fa fa-angle-right"></i>
					</a>
					<ul class="slide-menu">
						<li class="sub-slide">
							<a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="#">
								<span class="sub-side-menu__label">Blogs</span><i class="sub-angle fa fa-angle-right"></i>
							</a>
							<ul class="sub-slide-menu">
								<li><a asp-controller="Blog" asp-action="Create" class="sub-slide-item">Crear</a></li>
								<li><a asp-controller="Blog" asp-action="Edit" class="sub-slide-item">Editar</a></li>
							</ul>
						</li>
						<li class="sub-slide">
							<a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="#">
								<span class="sub-side-menu__label">Categorias</span><i class="sub-angle fa fa-angle-right"></i>
							</a>
							<ul class="sub-slide-menu">
								<li><a asp-controller="Categoria" asp-action="Create" class="sub-slide-item">Crear</a></li>
								<li><a asp-controller="Categoria" asp-action="Get" class="sub-slide-item">Gestión</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="slide">
					<a class="side-menu__item" data-bs-toggle="slide" href="#">
						<i class="icon icon-camera" style="padding-right: 13px"></i>
						<span class="side-menu__label">Banners</span><i class="angle fa fa-angle-right"></i>
					</a>
					<ul class="slide-menu">
						<li><a asp-controller="Banner" asp-action="InicioSuperior" class="slide-item">Banner Inicio Superior</a></li>
						<li><a asp-controller="Banner" asp-action="ContactoSuperior" class="slide-item">Banner Contacto Superior</a></li>
					</ul>
				</li>

			</ul>
			<div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
					width="24" height="24" viewBox="0 0 24 24">
					<path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
				</svg>
			</div>
		</div>
	</div>
</div>
<!--/APP-SIDEBAR-->