@{
    Layout = "_Layoutlandingpage2";
}


<!-- PAGE-HEADER -->
<div class="page-header" style="padding-top:120px;">
	@*<div>
		<h1 class="page-title">Politica trataiento de datos</h1>
	</div>*@
	<div class="ms-auto pageheader-btn">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">Nosotros</li>
			<li class="breadcrumb-item active" aria-current="page">Tratamiento de datos</li>
		</ol>
	</div>
</div>
<!-- PAGE-HEADER END -->
<div class="row policy" style="margin:20px;">
	<div class="col-md-12 col-lg-12">
		<div class="card">
			<div class="card-header border-bottom">
				<h3 class="card-title">Politica trataiento de datos <strong><span class="text-primary">Confival Capital S.A.S</span></strong></h3>
			</div>
			<div class="card-body">
				<div class="text-wrap">
					<p>En cumplimiento a lo dispuesto en la Ley Estatutaria 1581 de 2012 y sus Decretos Reglamentarios, la Compañía establece la Política General y Especiales aplicables para el Tratamiento y Protección de Datos Personales en la organización. </p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row policy" style="margin:20px;">
	<div class="col-lg-12 col-md-12">
		<div class="card-policy">
			<div class="card-body">
				<div class="row" style="margin-left:30px; margin-right:30px;">
					<div class="col-xl-auto feature">
						<div class="fa-stack fa-lg fa-1x border bg-primary mb-3">
							<i class="fa fa-street-view fa-stack-1x text-white"></i>
						</div>
					</div>
					<div class="col-xl col-lg-12">
						<div class="mt-1">
							<h4 class="fw-semibold">Responsable del tratamiento</h4>
							<p class="mb-0 justify-policy">
								CONFIVAL CAPITALS.A.S., sociedad comercial identificada con NIT 901483346– 3 se constituye como una Compañía bajo las leyes Colombianas, dedicada al análisis de riesgos, estructuración, compra y asesoría en la adquisición de activos alternativos, derechos económicos de contenido crediticios y operaciones de factoring, reconocidos en Sentencias, Conciliaciones y Laudos arbitrales que condenen a entidades públicas del sector central, debidamente ejecutoriadas y en firme.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12">
		<div class="card-policy">
			<div class="card-body">
				<div class="row" style="margin-left:30px; margin-right:30px;">
					<div class="col-xl-auto feature">
						<div class="fa-lg fa-1x border bg-secondary mb-3">
							<i class="fa fa-location-arrow fa-stack-1x text-white"></i>
						</div>
					</div>
					<div class="col-xl col-lg-12">
						<div class="mt-1">
							<h4 class="fw-semibold">Objetivo</h4>
							<p class="mb-0 justify-policy">
								La presente Política establece las directrices generales para la protección y el tratamiento de datos personales al interior de la Compañía, permitiendo de esta manera fortalecer el nivel de confianza entre Responsable y Titulares con relación al tratamiento de su información; Informar a los Titulares de las finalidades y transferencias a que son sometidos sus datos personales y los mecanismos y formas para el ejercicio de sus derechos.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12">
		<div class="card-policy">
			<div class="card-body">
				<div class="row" style="margin-left:30px; margin-right:30px;">
					<div class="col-xl-auto feature">
						<div class="fa-stack fa-lg fa-1x border bg-success mb-3">
							<i class="fa fa-info fa-stack-1x text-white"></i>
						</div>
					</div>
					<div class="col-xl col-lg-12">
						<div class="mt-1">
							<h4 class="fw-semibold">Deberes de confival capital s.a.s. como responsable del tratamiento de datos personales</h4>
							<p class="mb-0 justify-policy">
								a)	Garantizar al Titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data.<br />
								b)	Solicitar y conservar, en las condiciones previstas en la ley, copia de la respectiva autorización otorgada por el Titular.<br />
								c)	Informar debidamente al Titular sobre la finalidad de la recolección y los derechos que le asisten por virtud de la autorización otorgada.<br />
								d)	Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.<br />
								e)	Garantizar que la información que se suministre al Encargado del tratamiento sea veraz, completa, exacta, actualizada, comprobable y comprensible.<br />
								f)	Actualizar la información, comunicando de forma oportuna al Encargado del tratamiento, todas las novedades respecto de los datos que previamente le haya suministrado y adoptar las demás medidas necesarias para que la información suministrada a este se mantenga actualizada.<br />
								g)	Rectificar la información cuando sea incorrecta y comunicar lo pertinente al Encargado del tratamiento.<br />
								h)	Suministrar al Encargado del tratamiento, según el caso, únicamente datos cuyo tratamiento esté previamente autorizado de conformidad con lo previsto en la presente ley.<br />
								i)	Exigir al Encargado del tratamiento en todo momento, el respeto a las condiciones de seguridad y privacidad de la información del Titular.<br />
								j)	Tramitar las consultas y reclamos formulados en los términos señalados en la Ley Estatutaria 1581 de 2012.<br />
								k)	Adoptar un manual interno de políticas y procedimientos para garantizar el adecuado cumplimiento de la ley y en especial, para la atención de consultas y reclamos.<br />
								l)	Informar al Encargado del tratamiento cuando determinada información se encuentra en discusión por parte del Titular, una vez se haya presentado la reclamación y no haya finalizado el trámite respectivo.<br />
								m)	Informar a solicitud del Titular sobre el uso dado a sus datos.<br />
								n)	Informar a la autoridad de protección de datos cuando se presenten violaciones a los códigos de seguridad y existan riesgos en la administración de la información de los Titulares.<br />
								o)	Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y Comercio.<br />
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12">
		<div class="card-policy">
			<div class="card-body">
				<div class="row" style="margin-left:30px; margin-right:30px;">
					<div class="col-xl-auto feature">
						<div class="fa-stack fa-lg fa-1x border bg-warning mb-3">
							<i class="fa fa-address-card-o fa-stack-1x text-white"></i>
						</div>
					</div>
					<div class="col-xl col-lg-12">
						<div class="mt-1">
							<h4 class="fw-semibold">Tratamiento de datos personales de clientes</h4>
							<p class="mb-0 justify-policy">
								CONFIVAL CAPITAL S.A.S. recolecta los datos personales de sus clientes y los almacena en una base de datos la cual es calificada por la Compañía como de reserva, y sólo será revelada con la expresa autorización del titular o cuando una Autoridad Competente lo solicite.<br />
								Las finalidades para las cuales son utilizados los datos personales de los clientes de CONFIVAL CAPITAL S.A.S. serán:<br />
								a)	Proceso de control y registro contable de las obligaciones contraídas con los clientes.<br />
								b)	Cumplimiento de aspectos tributarios y legales ante entidades públicas y regulatorias.<br />
								c)	Cumplimiento de obligaciones contractuales, por lo cual la información podrá ser transferida a terceros, tales como entidades financieras, notarías, abogados, etc.<br />
								d)	Cumplimiento de decisiones judiciales y disposiciones administrativas, legales, fiscales y regulatorias.<br />
								e)	Transmisión de información y datos personales en procesos de auditorías.<br />
								f)	Gestión administrativa para la ejecución de las etapas precontractual, contractual y pos contractual.<br />
								g)	Creación del cliente en software de la Compañía o contratado a un tercero.<br />
								h)	Garantizar la prestación de servicios inmobiliarios realizados con bienes propios o arrendados.<br />
								i)	Garantizar el cumplimiento de los derechos que les corresponden en virtud de la Ley 1581 de 2012.<br />
								j)	Compartir la información con terceros aliados que colaboran con la sociedad, considerando que para el cumplimiento de sus encargos deben acceder en alguna medida a la información, los cuales estarán igualmente sujetos a las obligaciones de confidencialidad, manejo de la información y protección de datos personales a las que está sujeto esta sociedad.<br />
								k)	Dar trámite a las peticiones, quejas o reclamos establecidos de manera directa por el cliente a través de los canales de atención.<br />
								l)	Contactar al cliente a través de medios físicos y electrónicos – correo electrónico, o chat para el envío de información de interés o relacionada con la relación contractual.<br />
								m)	Mantener el contacto comercial con la Compañía, aun después de la finalización de la relación contractual.<br />
								n)	Consultar como buena práctica empresarial u obligación legal, antecedentes de los clientes en listas restrictivas, listas OFAC, PEPS, Clinton y ONU, en aras de prevenir el lavado de activos y financiación del terrorismo.<br />
								o)	Para proporcionarle un efectivo servicio al cliente.<br />
								p)	Actividades relacionadas con el giro ordinario de los negocios de la compañía.<br />
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12">
		<div class="card-policy">
			<div class="card-body">
				<div class="row" style="margin-left:30px; margin-right:30px;">
					<div class="col-xl-auto feature">
						<div class="fa-stack fa-lg fa-1x border bg-info mb-3">
							<i class="fa fa-pencil-square-o fa-stack-1x text-white"></i>
						</div>
					</div>
					<div class="col-xl col-lg-12">
						<div class="mt-1">
							<h4 class="fw-semibold">Autorización del titular de datos personales</h4>
							<p class="mb-0 justify-policy">
								Sin perjuicio de las excepciones previstas en la Ley Estatutaria 1581 de 2012 y sus decretos reglamentarios, por regla general en el tratamiento de datos de carácter personal, CONFIVAL CAPITAL S.A.S., recolectará la autorización previa e informada del Titular, la cual podrá ser obtenida por cualquier medio que pueda ser objeto de consulta posterior.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12">
		<div class="card-policy">
			<div class="card-body">
				<div class="row" style="margin-left:30px; margin-right:30px;">
					<div class="col-xl-auto feature">
						<div class="fa-stack fa-lg fa-1x border bg-orange mb-3">
							<i class="fa fa-exchange fa-stack-1x text-white"></i>
						</div>
					</div>
					<div class="col-xl col-lg-12">
						<div class="mt-1">
							<h4 class="fw-semibold">Transferencia y transmisión internacional de datos personales</h4>
							<p class="mb-0 justify-policy">
								CONFIVAL CAPITAL S.A.S. actualmente no realiza Transmisión o Transferencia internacional de datos personales. En el evento que decida realizar la Transferencia Internacional de datos personales, además de contar con la autorización expresa e inequívoca por parte del Titular, se asegurará que la acción proporcione los niveles adecuados de protección de datos y atienda a los requisitos fijados en Colombia por la Ley Estatutaria 1581 de 2012 y sus decretos reglamentarios.<br />
								De otro lado, cuando CONFIVAL CAPITAL S.A.S. decida realizar Transmisión Internacional de datos, podrá hacerlo sin autorización de los titulares, siempre y cuando garantice la seguridad de la información, confidencialidad y las condiciones que regulen en alcance del tratamiento de los datos, de acuerdo con lo establecido en el artículo 10 de la Ley 1581 de 2012.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row policy" style="margin:20px;">
	<div class="col-md-12 col-lg-12">
		<div class="card">
			<div class="card-header border-bottom">
				<h3 class="card-title">Definiciones</h3>
			</div>
			<div class="card-body">
				
				<div class="row align-items-center">
					<div class="col-md-6 col-12 px-0 pad-text">
						<div class="row">
							<div class="col-12">
								<div class="d-flex">
									<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
									<div class="ms-3">
										<p><strong><span class="text-primary">Habeas Data: </span></strong>Derecho que tiene toda persona de conocer, actualizar y rectificar la información que se haya recogido sobre ella en archivos y bancos de datos de naturaleza pública o privada.</p>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="d-flex">
									<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
									<div class="ms-3">
										<p><strong><span class="text-primary">Dato personal: </span></strong>Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.</p>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="d-flex">
									<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
									<div class="ms-3">
										<p><strong><span class="text-primary">Base de Datos: </span></strong>Conjunto organizado de datos personales que sea objeto de tratamiento.</p>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="d-flex">
									<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
									<div class="ms-3">
										<p><strong><span class="text-primary">Tratamiento: </span></strong>Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.</p>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="d-flex">
									<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
									<div class="ms-3">
										<p><strong><span class="text-primary">Autorización</span></strong>Consentimiento previo, expreso e informado del Titular para llevar a cabo el tratamiento de datos personales.</p>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="d-flex">
									<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
									<div class="ms-3">
										<p><strong><span class="text-primary">Aviso de privacidad</span></strong>Es el documento físico, electrónico o en cualquier otro formato conocido o por conocer, que es puesto a disposición del Titular con el fin de informar sobre el tratamiento de sus datos personales.</p>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<div class="col-md-6 col-12">
						<div class="row">
							<div class="col-12">
								<div class="d-flex">
									<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
									<div class="ms-3">
										<p><strong><span class="text-primary">Titular: </span></strong>Persona natural cuyos datos personales sean objeto de tratamiento.</p>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="d-flex">
									<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
									<div class="ms-3">
										<p><strong><span class="text-primary">Causahabiente: </span></strong>Persona que por sucesión o transmisión adquiere los derechos de otra persona.</p>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="d-flex">
									<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
									<div class="ms-3">
										<p><strong><span class="text-primary">Responsable del Tratamiento: </span></strong>Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el tratamiento de los datos.</p>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="d-flex">
									<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
									<div class="ms-3">
										<p><strong><span class="text-primary">Encargado del Tratamiento: </span></strong>Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el tratamiento de datos personales por cuenta del Responsable del tratamiento.</p>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="d-flex">
									<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
									<div class="ms-3">
										<p><strong><span class="text-primary">Video vigilancia (SV): </span></strong>Vigilancia a través de un sistema de grabación con cámaras, fijas o móviles, de manera privada y/o con acceso a la vía pública</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row" style="margin:20px; justify-content:center">
	
	<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
		<div class="card-policy service">
			<div class="card-body">
				<div class="item-box text-center">
					<div class=" text-center text-secondary mb-4"><i class="icon icon-clock"></i></div>
					<div class="item-box-wrap">
						<h5 class="mb-2">Vigencia</h5>
						<p class="text-muted mb-0">La presente Política rige a partir de marzo de 2023.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</div>



<partial name="~/Views/Shared/_Footer1.cshtml" />
<!-- ROW-3 CLOSED -->
@section scripts {
	<!-- SPARKLINE JS-->
	<script src="~/assets/js/jquery.sparkline.min.js"></script>

	<!-- CHART-CIRCLE JS-->
	<script src="~/assets/js/circle-progress.min.js"></script>

	<!-- INPUT MASK JS-->
	<script src="~/assets/plugins/input-mask/jquery.mask.min.js"></script>

	<!-- SIDEBAR JS -->
	<script src="~/assets/plugins/sidebar/sidebar.js"></script>
}



