@{
	Layout = "_Layoutlandingpage";
}

<div class="section pb-5 bg-white" style="padding-bottom:50px; padding-top:125px;" id="compra-sentencias">
	<div class="container px-5 px-md-0">
		<div class="row text-center">
			<div class="col-lg-12 ps-3">
				<h3 class="header-family pad-text">Compra de Sentencia</h3>
			</div>
		</div>
		<div class="col-xl-12">
			<!-- Seccion 1 -- Beneficios de vender tu sentencia -->
			<div class="px-md-0">
				<div class="row justify-content-center text-center">
					<div style="padding-bottom:30px;">
						<div class="col-lg-12 pos-relative overflow-hidden market-image banner">
							<img alt="" class="logo-2" src="~/assets/images/landing/Compra-sentencias.png">
							<img alt="" class="logo" src="~/assets/images/landing/Compra-sentencias-Móvil.png">
						</div>
					</div>
				</div>
			</div>
			<div class="container px-5 px-md-0" style="padding-bottom:50px;">
				<div class="col-lg-8 ps-4 mb-lg-0- mb-4">
					<h3 class="header-family pad-text">Beneficio de vender tu sentencia.</h3>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="responsive-screens">
							<div class="slide">
								<div class="row align-items-center">
									<div class="col-md-6 col-12 px-0 pad-text">
										<div class="row">
											<div class="col-12">
												<div class="d-flex">
													<h4 class="header-family">Para los Abogados</h4>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>Reciben sus honorarios de manera <strong>ágil, segura </strong>y de forma anticipada.</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p><strong>Liquidez</strong> inmediata para sus proyectos de inversión.</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p><strong>Ayudan a sus clientes</strong> al disponer de su dinero de manera ágil y anticipada.</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>Cuentan con la posibilidad de ser embajadores Confival, permitiéndoles recibir más beneficios.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="row">
											<div class="col-12">
												<div class="d-flex">
													<h4 class="header-family">Para los Demandantes</h4>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															<strong>Rapidez, seguridad y transparencia </strong>en el proceso de compra de sentencias.
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															<strong>Acompañamiento </strong> en todo el proceso de venta.
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															<strong>Reducción significativa en los tiempos</strong> de espera para obtener el dinero pactado con el Estado.
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															<strong>Asesoría financiera </strong>para invertir el dinero de la venta de la sentencia de una manera eficiente.
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Seccion 2 -- Proceso de compra de sentencias en 5 pasos -->
			<div class="container px-5 px-md-0" style="padding-bottom:50px;">
				<div class="row justify-content-center text-center">
					<div class="col-lg-8 ps-4 mb-lg-0- mb-4">
						<h3 class="header-family">Proceso de compra de sentencias en 5 pasos</h3>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="responsive-screens">
							<div class="slide">
								<div class="row align-items-center">
									<div class="col-12 px-0">
										<div class="row">
											<p>
												1. <strong>Negociación:</strong> Un asesor de Confival se comunicará contigo para hacerte una oferta por tu<strong> sentencia de reparación directa.</strong> Para esto te solicitaremos algunos documentos.
											</p>
											<p>
												2. <strong>Contratos:</strong> Una vez aceptes la propuesta, <strong> se enviarán los contratos para firma.</strong>
											</p>
											<p>
												3. <strong>Radicación:</strong> Internamente se revisará y <strong>radicará la solicitud a la entidad </strong>con el fin de que sea aceptada la cesión de derechos.
											</p>
											<p>
												4. <strong>Desembolso:</strong> Se hace una revisión de las instrucciones de giro. Una vez cumplidos los requisitos, se realiza el desembolso y ¡podrás obtener tu dinero!
											</p>
											<p>
												5. <strong>Cierre:</strong> ¡No queremos desconectarnos! Si así lo deseas, te acompañaremos a invertir el dinero de tu sentencia. Además puedes convertirte en un <strong>Embajador Confival. </strong>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Seccion 3 -- Preguntas Frecuentes sobre la compra de Sentencias de reparación directa. -->
			<div class="container px-5 px-md-0">
				<div class="row justify-content-end text-end">
					<div class="col-lg-8 ps-4 mb-lg-0- mb-4">
						<h3 class="header-family">Preguntas Frecuentes sobre la compra de Sentencias de reparación directa.</h3>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="responsive-screens">
							<div class="slide" style="width:100%;">
								<div class="row align-items-center">

									<!-- Accordion-01 -->
									<div class="row margin-accordion-row">
										<div class="col-md-5 col-12 px-0 margin-accordion-center">
											<div class="row">
												<div class="col-12 pad-text">
													<div class="pad-img">
														<img alt="" src="~/assets/images/landing/CompraSentncias1.jpg" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-7 col-12 margin-accordion-center">
											<div class="accordion" id="accordionPreguntasF">
												<div class="accordion" id="accordionPF">
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingFive">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
																¿Por qué vender tu sentencia de reparación directa?
															</button>
														</h2>
														<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
																data-bs-parent="#accordionPF">
															<div class="accordion-body text-muted">
																<p>Es la oportunidad perfecta para cumplir tus metas y sueños a corto plazo. Te entregamos el dinero de la venta de tu sentencia ahora, sin largas esperas*, con el único requisito de vender o ceder los derechos económicos de tu sentencia.</p>
																<p>Podrás disponer de tu dinero ahora para la compra de tu casa propia, pagar el estudio de tus hijos o cumplir con el sueño de ese negocio familiar.</p>
																<p>*Recuerda que actualmente las entidades estatales tardan en promedio 5 años en realizar el pago una vez la sentencia esta ejecutoriada.</p>
																<p>No espere más,<a href="https://info.confival.com/cotiza-el-valor-de-tu-sentencia-y-conciliacion-judicial"> vende tu sentencia con Confival </a>ahora.</p>
															</div>
														</div>
													</div>
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingSix">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
																¿Por qué vender tu sentencia a Confival?
															</button>
														</h2>
														<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
																data-bs-parent="#accordionPF">
															<div class="accordion-body text-muted">
																<p>
																	Confival es una empresa con más de 10 años de experiencia en la <strong>Compra de Sentencias y conciliaciones judiciales,</strong> cuenta con un equipo experto en la <strong>compra de procesos contra el estado</strong> que te prestará la mejor asesoría.
																</p>
																<p>
																	Contáctanos <a href="https://api.whatsapp.com/send?phone=573146699814&text=Estoy%20interesado%20en%20tener%20mas%20informaci%C3%B3n%20de%20la%20venta%20de%20sentencias">(57) 314 669 9814</a>
																</p>
															</div>
														</div>
													</div>
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingSeven">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
																¿Cuándo se puede vender una sentencia de reparación directa?
															</button>
														</h2>
														<div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
																data-bs-parent="#accordionPF">
															<div class="accordion-body text-muted">
																<p>
																	Una vez se tenga la Sentencia o Conciliación ejecutoriada y el turno de pago asignado, podrás vender tu sentencia. <a href="https://api.whatsapp.com/send?phone=573146699814&text=Estoy%20interesado%20en%20tener%20mas%20informaci%C3%B3n%20de%20la%20venta%20de%20sentencias"> Comunícate con nosotros.</a>
																</p>
															</div>
														</div>
													</div>
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingEight">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
																¿Quién puede vender una sentencia de reparación directa?
															</button>
														</h2>
														<div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
																data-bs-parent="#accordionPF">
															<div class="accordion-body text-muted">
																<p>
																	Cualquiera de los beneficiarios de la sentencia y/o el abogado apoderado que cuente con la vigencia del poder de la Sentencia o Conciliación vigente, puede negociarla en su proporción.
																</p>
															</div>
														</div>
													</div>
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingTen">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
																¿Cuáles son las modalidades de venta parcial?
															</button>
														</h2>
														<div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
																data-bs-parent="#accordionPF">
															<div class="accordion-body text-muted">
																<p>
																	1. El abogado quiere vender el monto del porcentaje de sus honorarios, pero los beneficiarios no desean vender su parte.
																</p>
																<p>
																	2. Solo los beneficiarios quieren vender su parte, pero su abogado no quiere vender sus honorarios.
																</p>
																<p>
																	3. Cuando no todos los beneficiarios quieren o pueden realizar la venta.
																</p>
																<p>
																	4. Cuando algunos de los beneficiarios ha fallecido y aún no cuentan con la sucesión correspondiente.
																</p>
															</div>
														</div>
													</div>
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingNine">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
																¿Se puede vender una parte de la Sentencia o Conciliación?
															</button>
														</h2>
														<div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
																data-bs-parent="#accordionPF">
															<div class="accordion-body text-muted">
																<p>
																	Si, se puede realizar una <strong>venta parcial de la sentencia o conciliación judicial.</strong> La venta puede realizarse por parte de los beneficiarios o el apoderado.
																</p>
															</div>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>

									<!-- Accordion-2 -->
									<div class="row margin-accordion-row" id="photo-accordion-dos">
										<div class="col-md-7 col-12 margin-accordion-center">
											<div class="accordion" id="accordionPreguntasF-2">
												<div class="accordion" id="accordionPF-2">
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingEleven">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
																¿Cuánto dinero pagarían por mi Sentencia?
															</button>
														</h2>
														<div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
																data-bs-parent="#accordionPF-2">
															<div class="accordion-body text-muted">
																<p>Esto dependerá del monto de la sentencia, además de la fecha de ejecutoria y del turno de pago asignado. Si quieres conocer una cotización real del valor de tu sentencia deja tus datos <a href="https://info.confival.com/cotiza-el-valor-de-tu-sentencia-y-conciliacion-judicial"><strong>aquí</strong></a> y en menos de3 días hábiles recibirás la propuesta borrador para la compra de tu Sentencia.</p>
															</div>
														</div>
													</div>
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingTwelve">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
																¿En cuánto tiempo se realiza la compra de Sentencias y/o Conciliaciones Judiciales?
															</button>
														</h2>
														<div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve"
																data-bs-parent="#accordionPF-2">
															<div class="accordion-body text-muted">
																<p>
																	Si se encuentran todos los documentos de la Sentencia y está aprobada la cesión de venta de derechos puede tardar en total <strong>3 meses.</strong>
																</p>
															</div>
														</div>
													</div>
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingThirteen">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
																¿Cómo puedo cotizar el valor de mi Sentencia?
															</button>
														</h2>
														<div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
																data-bs-parent="#accordionPF-2">
															<div class="accordion-body text-muted">
																<p>
																	<a href="https://info.confival.com/cotiza-el-valor-de-tu-sentencia-y-conciliacion-judicial"><strong>Aquí</strong></a>
																	, debes contar con los datos básicos para solicitud de propuesta, que son los siguientes:
																</p>
																<p>
																	<ul>
																		<li>
																			<i class="fa fa-chevron-right"></i>Nombre del caso tal y como sale en la primera hoja de la sentencia.
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>Monto del fallo en SMLV a nombre de cada beneficiario reconocido.
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>Fecha de la ejecutoria.
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>Fecha de radicación de la cuenta de cobro.
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>Fecha de asignación de turno de pago.
																		</li>
																	</ul>
																</p>
																<p>
																	Deberás enviar la información descrita anteriormente al correo info@confival.com con las palabras: <strong>Solicitud de propuesta + su nombre</strong>, te presentaremos en 3 días hábiles la propuesta borrador.
																</p>
															</div>
														</div>
													</div>
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingFourteen">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
																¿Quién debe firmar los documentos para la negociación de mi sentencia?
															</button>
														</h2>
														<div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen"
																data-bs-parent="#accordionPF-2">
															<div class="accordion-body text-muted">
																<p>
																	<ul>
																		<li>
																			<i class="fa fa-chevron-right"></i>En caso de una cesión parcial de los beneficiarios, son ellos quienes deben firmar y autenticar los documentos.
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>En caso de una cesión de honorarios. el abogado deberá firmar y autenticar los documentos.
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>Si tanto beneficiarios como abogado ceden. Ambos deberán firmar y autenticar los documentos.
																		</li>
																	</ul>
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-5 col-12 px-0 margin-accordion-center">
											<div class="row">
												<div class="col-12 pad-text">
													<div class="pad-img">
														<img alt="" src="~/assets/images/landing/CompraSentncias2.jpg" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row margin-accordion-row" id="photo-accordion">
										<div class="col-md-5 col-12 px-0 margin-accordion-center">
											<div class="row">
												<div class="col-12 pad-text">
													<div class="pad-img">
														<img alt="" src="~/assets/images/landing/CompraSentncias2.jpg" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-7 col-12 margin-accordion-center">
											<div class="accordion" id="accordionPreguntasF-2">
												<div class="accordion" id="accordionPF-2">
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingEleven">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
																¿Cuánto dinero pagarían por mi Sentencia?
															</button>
														</h2>
														<div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
																data-bs-parent="#accordionPF-2">
															<div class="accordion-body text-muted">
																<p>Esto dependerá del monto de la sentencia, además de la fecha de ejecutoria y del turno de pago asignado. Si quieres conocer una cotización real del valor de tu sentencia deja tus datos <a href="https://info.confival.com/cotiza-el-valor-de-tu-sentencia-y-conciliacion-judicial"><strong>aquí</strong></a> y en menos de3 días hábiles recibirás la propuesta borrador para la compra de tu Sentencia.</p>
															</div>
														</div>
													</div>
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingTwelve">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
																¿En cuánto tiempo se realiza la compra de Sentencias y/o Conciliaciones Judiciales?
															</button>
														</h2>
														<div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve"
																data-bs-parent="#accordionPF-2">
															<div class="accordion-body text-muted">
																<p>
																	Si se encuentran todos los documentos de la Sentencia y está aprobada la cesión de venta de derechos puede tardar en total <strong>3 meses.</strong>
																</p>
															</div>
														</div>
													</div>
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingThirteen">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
																¿Cómo puedo cotizar el valor de mi Sentencia?
															</button>
														</h2>
														<div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
																data-bs-parent="#accordionPF-2">
															<div class="accordion-body text-muted">
																<p>
																	<a href="https://info.confival.com/cotiza-el-valor-de-tu-sentencia-y-conciliacion-judicial"><strong>Aquí</strong></a>
																	, debes contar con los datos básicos para solicitud de propuesta, que son los siguientes:
																</p>
																<p>
																	<ul>
																		<li>
																			<i class="fa fa-chevron-right"></i>Nombre del caso tal y como sale en la primera hoja de la sentencia.
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>Monto del fallo en SMLV a nombre de cada beneficiario reconocido.
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>Fecha de la ejecutoria.
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>Fecha de radicación de la cuenta de cobro.
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>Fecha de asignación de turno de pago.
																		</li>
																	</ul>
																</p>
																<p>
																	Deberás enviar la información descrita anteriormente al correo info@confival.com con las palabras: <strong>Solicitud de propuesta + su nombre</strong>, te presentaremos en 3 días hábiles la propuesta borrador.
																</p>
															</div>
														</div>
													</div>
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingFourteen">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
																¿Quién debe firmar los documentos para la negociación de mi sentencia?
															</button>
														</h2>
														<div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen"
																data-bs-parent="#accordionPF-2">
															<div class="accordion-body text-muted">
																<p>
																	<ul>
																		<li>
																			<i class="fa fa-chevron-right"></i>En caso de una cesión parcial de los beneficiarios, son ellos quienes deben firmar y autenticar los documentos.
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>En caso de una cesión de honorarios. el abogado deberá firmar y autenticar los documentos.
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>Si tanto beneficiarios como abogado ceden. Ambos deberán firmar y autenticar los documentos.
																		</li>
																	</ul>
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- Accordion-3 -->
									<div class="row margin-accordion-row">
										<div class="col-md-5 col-12 px-0 margin-accordion-center">
											<div class="row">
												<div class="col-12 pad-text">
													<div class="pad-img">
														<img alt="" src="~/assets/images/landing/CompraSentncias3.jpg" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-7 col-12 margin-accordion-center">
											<div class="accordion" id="accordionPreguntasF-3">
												<div class="accordion" id="accordionPF-3">
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingFifteen">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
																¿Qué documentos se necesitan para la compra de sentencias de reparación directa?
															</button>
														</h2>
														<div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen"
																data-bs-parent="#accordionPF-3">
															<div class="accordion-body text-muted">
																<p>Una vez diligenciados los datos<a href="https://info.confival.com/cotiza-el-valor-de-tu-sentencia-y-conciliacion-judicial"> (de no haberlo hecho, haz clic aquí)</a>, se requiere el envío de la copias simples de todos los documentos presentados en la cuenta de cobro:</p>
																<p>
																	<ul>
																		<li>
																			<i class="fa fa-chevron-right"></i>Cuenta de cobro radicada
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>Vigencia del poder
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>Poderes iniciales
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>Documentos de identificación de los beneficiarios y el abogado
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>Tarjeta profesional del abogado
																		</li>
																		<li>
																			<i class="fa fa-chevron-right"></i>Documentos de cesión firmados y autenticado (entregados por Confival).
																		</li>
																	</ul>
																</p>
															</div>
														</div>
													</div>
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingSixteen">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
																¿Qué es una Sentencia de reparación directa?
															</button>
														</h2>
														<div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen"
																data-bs-parent="#accordionPF-3">
															<div class="accordion-body text-muted">
																<p>
																	Una sentencia impone el pago de indemnizaciones, compensaciones, salarios, entre otras obligaciones; que se convierte en una decisión que otorga al demandante un documento, que obliga al demandado a pagar lo ordenado incondicionalmente.
																</p>
																<p>
																	Cuando la sentencia es administrativa y el Estado es vencido, la Nación se ve obligada a pagarle al demandante las sumas de dinero ordenadas dentro del plazo máximo de 10 o 18 meses desde que la sentencia se encuentre en firme, según la ley aplicable, sin que signifique que, si excede el tiempo, cesará el pago.
																</p>
															</div>
														</div>
													</div>
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingSeventeen">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
																¿Qué es una Conciliación Judicial?
															</button>
														</h2>
														<div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingSeventeen"
																data-bs-parent="#accordionPF-3">
															<div class="accordion-body text-muted">
																<p>
																	La conciliación judicial es un mecanismo alternativo de resolución de conflictos que pretende solucionar las controversias entre las partes en litigio y así descongestionar el aparato judicial. Cuando una demanda se resuelve mediante una conciliación entre las partes (demandantes y demandados) facilita el proceso, pues no tendrán que esperar hasta que el juez competente emita fallo de sentencia de segunda instancia para resolver el conflicto.
																</p>
															</div>
														</div>
													</div>
													<div class="accordion-item shadow-accordion-2">
														<h2 class="accordion-header" id="headingEightteen">
															<button class="accordion-button collapsed shadow-accordion-2" type="button" data-bs-toggle="collapse"
																	data-bs-target="#collapseEightteen" aria-expanded="false" aria-controls="collapseEightteen">
																¿Qué es el turno de pago de una Sentencia?
															</button>
														</h2>
														<div id="collapseEightteen" class="accordion-collapse collapse" aria-labelledby="headingEightteen"
																data-bs-parent="#accordionPF-3">
															<div class="accordion-body text-muted">
																<p>
																	El turno de pago es el que indica el lugar en la fila de espera del pago sentencias y conciliaciones por parte de las entidades públicas. Recuerda que es indispensable para la venta de tu sentencia.
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Indicadores 1 -->
			@*<partial name="~/Views/Shared/_Indicadores.cshtml" model="modelI1" />*@
		</div>
	</div>
</div>

<div class="section pb-5 bg-white" style="padding-bottom:50px; padding-top:125px;" id="activos-inmobiliarios">
	<div class="container px-5 px-md-0">
		<div class="row text-center">
			<div class="col-lg-12 ps-3">
				<h3 class="header-family pad-text">Activos inmobiliarios</h3>
			</div>
		</div>
		<div class="col-xl-12">
			<!-- Seccion 1 -- ¿Qué es un Activo Inmobiliario? -->
			<div class="px-md-0">
				<div class="row justify-content-center text-center">
					<div style="padding-bottom:30px;">
						<div class="col-lg-12 text-left pos-relative overflow-hidden market-image text-center banner">
							<img alt="" class="logo-2" src="~/assets/images/landing/Activos-inmobiliarios.png">
							<img alt="" class="logo" src="~/assets/images/landing/Activos-inmobiliarios-Móvil.png">
						</div>
					</div>
				</div>
			</div>
			<div class="container px-5 px-md-0">
				<div class="col-lg-8 ps-4 mb-lg-0- mb-4">
					<h3 class="header-family pad-text">¿Qué es un Activo Inmobiliario?</h3>
					<p>Son operaciones a un año para proveer financiamiento provisional (es decir durante una parte del proyecto) en transacciones comerciales de bienes raíces.</p>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="responsive-screens">
							<div class="slide">
								<div class="row align-items-center">
									<div class="col-md-6 col-12">
										<div class="row">
											<div class="col-12">
												<div class="d-flex">
													<h3 class="header-family">Beneficios de los Activos Inmobiliarios Confival</h3>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="row">
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Rapidez y Diligencia en el estudio
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Acompañamiento durante el proceso de venta
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Anticipamos el porcentaje de su Valor
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Brindamos Soluciones Integrales
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Evite tiempos del proceso ordinario
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Red de contactos en las principales zonas del país
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Indicadores 2 -->
			@*<partial name="~/Views/Shared/_Indicadores.cshtml" model="modelI2" />*@
			<!-- Seccion 2 -- Confival estructurando activos inmobiliarios -->
			<div class="container px-5 px-md-0" style="padding-bottom:50px;">
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="responsive-screens">
							<div class="slide">
								<div class="row align-items-center">
									<div class="col-md-6 col-12 px-0">
										<div class="row">
											<div class="col-12">
												<div class="col-10">
													<h3 class="header-family pad-text">Confival estructurando activos inmobiliarios</h3>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<div class="ms-3">
														<p>CONFIVAL es una firma de inversión privada que se enfoca en la deuda a corto plazo garantizada por bienes raíces. Posterior al proceso de evaluación de negocios y un estudio de viabilidad de los mismos, CONFIVAL hace una inversión de capital social para garantizar la solidez financiera de los proyectos o negocios.Nuestros fondos se enfocan en proveer financiamiento puente, típicamente a un año, para transacciones comerciales de bienes raíces</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="row">
											<div class="col-12">
												<div class="col-10">
													<img alt="" src="~/assets/images/landing/Estructurando-activos.jpg" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="section pb-5 bg-white" style="padding-bottom:50px; padding-top:125px;" id="negocios-especiales">
	<div class="container px-5 px-md-0">
		<div class="row text-center">
			<div class="col-lg-12 ps-3">
				<h3 class="header-family pad-text">Estructuración de Negocios Especiales</h3>
			</div>
		</div>
		<div class="col-xl-12">
			<!-- Seccion 1 -- Estructuración de Negocios Especiales -->
			<div class="px-md-0">
				<div class="row justify-content-center text-center">
					<div style="padding-bottom:30px;">
						<div class="col-lg-12 text-left pos-relative overflow-hidden market-image text-center banner">
							<img alt="" class="logo-s-1" src="~/assets/images/landing/Servicio.png">
							<img alt="" class="logo-s-2" src="~/assets/images/landing/Servicio-2.png">
							<img alt="" class="logo-s-3" src="~/assets/images/landing/Servicios-Movil-2-1.png">
							<img alt="" class="logo-s-4" src="~/assets/images/landing/Servicios-Movil-2.png">
						</div>
					</div>
				</div>
			</div>
			<div class="container px-5 px-md-0" style="padding-bottom:50px;">
				<div class="col-lg-12">
					<div class="responsive-screens">
						<div class="slide">
							<div class="row align-items-center">
								<div class="col-md-6 col-12 px-0">
									<div class="row">
										<div class="col-12">
											<div class="col-10">
												<img alt="" src="~/assets/images/landing/negocios-especiales.jpg" />
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-12">
									<div class="row">
										<div class="col-12">
											<div class="col-10">
												<h3 class="header-family pad-text">¿Qué es estructuración de negocios especiales?</h3>
											</div>
										</div>
										<div class="col-12">
											<div class="d-flex">
												<div class="ms-3">
													<p>Confival es una firma de inversión privada que se enfoca en la deuda a corto plazo garantizada por bienes raíces, que producen ingresos en Colombia.</p>
													<p>Nuestros fondos se enfocan en proveer financiamiento puente, típicamente a un año, para transacciones comerciales de bienes raíces.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Seccion 2 -- Ventajas de los Activos Alternativos 2 -->
			<div class="container px-5 px-md-0" style="padding-bottom:50px;">
				<div class="row justify-content-center text-center">
					<div class="col-lg-8 ps-4 mb-lg-0- mb-4">
						<h3 class="header-family">Ventajas de los Activos Alternativos 2</h3>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="tl-blog primary">
							<div class="tl-img rounded-circle bg-primary-transparent">
								<i class="fa fa-cubes text-primary text-17"></i>
							</div>
							<div>
								<h4 class="margin-activos-alter">
									Diversificación
								</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="tl-blog primary">
							<div class="tl-img rounded-circle bg-primary-transparent">
								<i class="fe fe-dollar-sign text-primary text-17"></i>
							</div>
							<div>
								<h4 class="margin-activos-alter">
									Mayor Retorno
								</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="tl-blog primary">
							<div class="tl-img rounded-circle bg-primary-transparent">
								<i class="fa fa-signal text-primary text-17"></i>
							</div>
							<div>
								<h4 class="margin-activos-alter">
									Menor Volatilidad
								</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="tl-blog primary">
							<div class="tl-img rounded-circle bg-primary-transparent">
								<i class="fa fa-handshake-o text-primary text-17"></i>
							</div>
							<div>
								<h4 class="margin-activos-alter">
									Pluralidad de Plazos
								</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="tl-blog primary">
							<div class="tl-img rounded-circle bg-primary-transparent">
								<i class="fe fe-briefcase text-primary text-17"></i>
							</div>
							<div>
								<h4 class="margin-activos-alter">
									Mercado en Crecimiento
								</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="tl-blog primary">
							<div class="tl-img rounded-circle bg-primary-transparent">
								<i class="fa fa-money text-primary text-17"></i>
							</div>
							<div>
								<h4 class="margin-activos-alter">
									Bajo Riesgo Crediticio
								</h4>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Seccion 3 -- Catálogo de servicios -->
			<div class="container px-5 px-md-0" style="padding-bottom:50px;">
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="responsive-screens">
							<div class="slide">
								<div class="row align-items-center">
									<div class="col-md-4 col-12">
										<div class="row">
											<div class="col-12">
												<div class="d-flex">
													<h3 class="header-family pad-text" style="margin-right: 90px;">Catálogo de servicios</h3>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-12">
										<div class="row">
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Finanzas corporativas
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Gestión de riesgos empresariales
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Asesoría financiera, organizacional y de mercados
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Estructuración financiera de proyectos de inversión
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Diseño y estructuración de títulos valores
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Valoración de empresas
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Reestructuración de pasivos y consecución de recursos para financiación de proyectos
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Diseño y asesoría en la administración de recursos y portafolios de inversión
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Asesoría para comercializar activos fijos (inmuebles) con fondos de inversión inmobiliaria
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Titularizaciones y emisiones de Valores
														</p>
													</div>
												</div>
											</div>
											<div class="col-12">
												<div class="d-flex">
													<partial name="~/Views/Shared/_IconoCheckCircle.cshtml" />
													<div class="ms-3">
														<p>
															Tax Planning
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="view-bag-value" class="hide-info">@ViewBag.Seccion</div>

<!-- FOOTERS -->
<partial name="~/Views/Shared/_Footer1.cshtml" />


@section scripts {
	<script src="~/assets/js/WebConfival/Servicios/Servicios.js"></script>
}