@{
	Layout = "_Layout3";
}
<!-- PAGE-HEADER -->
<div class="page-header">
	<div>
		<h1 class="page-title">Listado de Banners</h1>
	</div>
	<div class="ms-auto pageheader-btn">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0);">Banners</a></li>
			<li class="breadcrumb-item active" aria-current="page">Listado de Banners</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="card">
			<div class="card-header border-bottom">
				<h3 class="card-title">Banners actuales</h3>
			</div>
			<div class="card-body">
				<p class="text-muted">It is Very Easy to Customize and it uses in your website apllication.</p>
				<div class="row">
					<div class="col-md-5 mb-3">
						<label class="form-label">Nombre del banner</label>
						<input class="form-control" placeholder="Nombre" type="text">
					</div>
					<div class="col-md-5 mb-3">
						<label class="form-label">Url de redirecionamiento</label>
						<input class="form-control" placeholder="href" type="text">
					</div>
					<div class="col-md-2">
						<button class="btn btn-primary btn-block">Cargar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

