               @{
    Layout = "_Layoutlandingpage";
    
    }
		@*		<!-- Header Main-->
					<div class="demo-screen-headline main-demo main-demo-1 overflow-hidden pb-0 mb-6" id="home">
						
					</div>
					<!-- Header Main Close-->*@

                <!--app-content open-->
				<div class="hor-content main-content mt-0">
					<div class="side-app demo-screen-headline">
						<!-- CONTAINER -->
						<div class="main-container">
							<div class="container px-5 px-md-0">
							<div class="overflow-hidden">
								<div class="row">
									<h3 class="text-shadow text-dark">POLÍTICA DE TRATAMIENTO DE DATOS SEVIPAZ</h3> 
								</div>
							</div>
						</div>
						<div class="container px-5 px-md-0">
							<div class="overflow-hidden">
								<div class="row">
									<div class="col-lg-12 text-left pos-relative overflow-hidden p-3">
										
												
										<p class="mt-3">Teniendo en cuenta la importancia de la información que obtiene la FUNDACIÓN SEVIPAZ,
											en adelante “LA FUNDACIÓN”, en ejercicio de su actividad económica, mediante la presente Política de Tratamiento de Datos, garantiza la confidencialidad, 
											seguridad y protección de dicha información, en concordancia con las disposiciones de la Ley 1581 de 2012, y demás normas que la reglamenten o la modifiquen..</p>

										<p class="mt-3">2. La presente Política incluye la información recolectada, de manera directa por LA FUNDACIÓN, de sus titulares sean estos colaboradores, usuarios, proveedores, trabajadores y/o en general; 
											y toda aquella que sea recolectada mediante terceros autorizados por LA FUNDACIÓN para dicha labor o por cualquier otro medio.</p>

										<p class="mt-3"><strong>DATOS TRATADOS:</strong> PERSONAS NATURALES: Nombres y apellidos, número de cédula, 
											domicilio, estado civil, edad, teléfono, número de celular, nombre de los padres, profesión u oficio, 
											número de hijos, estudios realizados (pregrado, posgrado), lugar y fecha de nacimiento, cargo que desempeña 
											en la fundación, salario. Personas Jurídicas: Nombre o Razón social, NIT, dirección, números de teléfono y correo electrónico</p>

										<p class="mt-3"><strong>PARTES</strong></p>

										<p class="mt-3"><strong>FUNDACIÓN:</strong> LA FUNDACIÓN realizará la captación de sus datos a través de sus
											diferentes sedes, físicas y electrónicas y de cualquier establecimiento de comercio que tenga
											en propiedad en cualquier tiempo, así como otras FUNDACIONES que lleguen a formar parte del grupo fundaciónrial, en caso de que se genere.</p>
															
										<p class="mt-3"><strong>NUESTROS DATOS SON LOS SIGUIENTES.</strong></p>
										
										<p class="mt-3">Nombre o razón social: SEVIPAZ. Domiciliado en: BOGOTÁ D.C.</p>

										<p class="mt-3">Número de Identificación Tributaria:830.111.347-8</p>
										<p class="mt-3">Dirección: Calle 100 No 11b-70</p>
										<p class="mt-3">Nombre del responsable: Laura Cruz</p>
										<p class="mt-3">Correo electrónico:sevipaz@localhost</p>
										<p class="mt-3">Teléfono del responsable: (+57) 2 57 6747</p>
										<p class="mt-3">USUARIO.  usuarios, donantes, trabajadores y/o colaboradores que registren sus datos.</p>

										<p class="mt-3"><strong>1. PRINCIPIOS</strong></p>

										<p class="mt-3">En el desarrollo, interpretación y aplicación de la presente ley, se aplicarán, de manera armónica e integral, los siguientes principios:</p>

										<p class="mt-3">1. <strong>a) Principio de legalidad en materia de Tratamiento de datos:</strong> El Tratamiento a que se refiere la presente ley es una actividad reglada que debe sujetarse a lo establecido en ella y en las demás disposiciones que la desarrollen;</p>

										<p class="mt-3">2.<strong>b) Principio de finalidad: </strong> El Tratamiento debe obedecer a una finalidad legítima de acuerdo con la Constitución y la Ley, la cual debe ser informada al Titular;</p>

										<p class="mt-3">3.<strong>c) Principio de libertad: </strong>  El Tratamiento sólo puede ejercerse con el consentimiento, previo, expreso e informado del Titular. Los datos personales no podrán ser obtenidos o divulgados sin previa autorización, o en ausencia de mandato legal o judicial que releve el consentimiento;</p>

										<p class="mt-3">4.<strong>d) Principio de veracidad o calidad: </strong>  La información sujeta a Tratamiento debe ser veraz, completa, exacta, actualizada, comprobable y comprensible. Se prohíbe el Tratamiento de datos parciales, incompletos, fraccionados o que induzcan a error;</p>

										<p class="mt-3">5.<strong>e) Principio de transparencia: </strong>  En el Tratamiento debe garantizarse el derecho del Titular a obtener del responsable del Tratamiento o del Encargado del Tratamiento, en cualquier momento y sin restricciones, información acerca de la existencia de datos que le conciernan;</p>
										
										<p class="mt-3">6.<strong>f) Principio de acceso y circulación restringida: </strong> El Tratamiento se sujeta a los límites que se derivan de la naturaleza de los datos personales, de las disposiciones de la presente ley y la Constitución. En este sentido, el Tratamiento sólo podrá hacerse por personas autorizadas por el Titular y/o por las personas previstas en la presente ley; los datos personales, salvo la información pública, no podrán estar disponibles en Internet u otros medios de divulgación o comunicación masiva, salvo que el acceso sea técnicamente controlable para brindar un conocimiento restringido sólo a los Titulares o terceros autorizados conforme a la presente ley;</p>

										<p class="mt-3">7.<strong>g) Principio de seguridad:  </strong>La información sujeta a Tratamiento por el responsable del Tratamiento o Encargado del Tratamiento a que se refiere la presente ley, se deberá manejar con las medidas técnicas, humanas y administrativas que sean necesarias para otorgar seguridad a los registros evitando su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento;</p>

										<p class="mt-3">8.<strong>h) Principio de confidencialidad:  </strong>Todas las personas que intervengan en el Tratamiento de datos personales que no tengan la naturaleza de públicos están obligadas a garantizar la reserva de la información, inclusive después de finalizada su relación con alguna de las labores que comprende el Tratamiento, pudiendo sólo realizar suministro o comunicación de datos personales cuando ello corresponda al desarrollo de las actividades autorizadas en la presente ley y en los términos de esta.</p>

										<p class="mt-3"><strong>1. AUTORIZACIÓN.</strong></p>

										<p class="mt-3">Una vez el usuario haya entregado sus datos, bien bajo solicitud de registro o con la entrega personal de los mismos, acepta los términos planteados en el siguiente documento.</p>

										<p class="mt-3">LA FUNDACIÓN se reserva el derecho que le asiste a modificar la presente política en los términos que la Ley exige, cuando así lo considere necesario, en caso de que las modificaciones comporten un cambio sustancial los mismo serán notificados.</p>

										<p class="mt-3"><strong>TRATAMIENTO.</strong></p>

										<p class="mt-3">Todos los datos recogidos por LA FUNDACIÓN serán automatizados e incorporados en las bases de datos de forma virtual, guardando una adecuada cadena de custodia de dichos ficheros y de los soportes materiales que suponga dicho proceso. Para ello LA FUNDACIÓN garantizará su protección atendiendo a criterios básicos de seguridad que permita los recursos técnicos para el tratamiento automático de los mismos.</p>
										<p class="mt-3">Los datos obtenidos y el tratamiento que se da a la información se hará bajo  confidencialidad y se garantiza la privacidad de la información, la protección de los datos estará a cargo de LA FUNDACIÓN con lo que  cualquier irregularidad o incumplimiento que se presente respecto de las disposiciones de esta política, legislación o norma aplicable para este caso, será comunicada inmediatamente al titular de la información, con la finalidad de subsanar las inconsistencias que se presenten en el tratamiento de los datos personales.</p>
										<p class="mt-3">En el evento de realizar una transmisión de los datos personales a terceras personas por parte de LA FUNDACIÓN, estos seguirán siendo clasificados como confidenciales y no podrá dársele trato diferente al estipulado en el contrato de transmisión de datos personales, o el tipo de contrato que se lleve a cabo para tal fin, adicionalmente los datos personales podrán trasmitirse a terceros para el desarrollo de actividades diferentes a las aquí contempladas, siempre y cuando se cuente con autorización por parte del titular de los datos personales.</p>

										<p class="mt-3">Todos los datos proporcionados a partir de lo diferentes mecanismos con los que cuenta LA FUNDACIÓN, se utilizarán de acuerdo con las prácticas antes establecidas para:</p>
										<p class="mt-3">Incluirla en nuestra base datos.</p>
										<p class="mt-3">Modificar o tratar los mismos.</p>
										<p class="mt-3">Enviar información que considere relevante en relación a nuestra fundación, invitaciones a eventos en general, promociones o lanzamientos.</p>
										<p class="mt-3">Compartir información de terceras fundaciones de naturaleza académica, noticiosa o de actualidad.</p>
										<p class="mt-3">Sostener comunicación constante con colaboradores, usuarios, empleados, contratistas y proveedores.</p>
										<p class="mt-3">Desarrollar estudios de mercadeo o estadísticos.</p>
										<p class="mt-3">Evaluar el consumo de nuestros servicios e incorporarlos a modelos estadísticos que permitan establecer su comportamiento de uso.</p>
										<p class="mt-3">Compartirlo con subcontratistas y proveedores, con quienes se suscriban contratos para el desarrollo de los fines y objetos fundacones, dentro y/o fuera del país.</p>
										<p class="mt-3">Registrar su ubicación permanente y solicitud de nuestros servicios</p>
										<p class="mt-3">Servicios adquiridos, comportamiento de uso.</p>
										<p class="mt-3">Cualquier otra finalidad que sea requerida, en virtud de la relación entre los titulares y la FUNDACIÓN.</p>

										<p class="mt-3"><strong>1. DERECHOS DE LOS TITULARES.</strong></p>

										<p class="mt-3">Conocer, actualizar y rectificar sus datos personales, bien frente a los datos inexactos, incompletos o fraccionados, como aquellos que induzcan a error.</p>
										<p class="mt-3">Solicitar prueba de la autorización con la que cuenta LA FUNDACIÓN para el tratamiento de sus datos personales de conformidad con la Ley 1581 de 2012.</p>
										<p class="mt-3">Recibir información respecto del uso que se da a sus datos personales, previa solicitud.</p>
										<p class="mt-3">Revocar la autorización y/o solicitar la supresión de sus datos personales de las bases de datos que dieron origen a dicha autorización.</p>
										<p class="mt-3">Presentar quejas ante la entidad administrativa encargada de la protección de los datos personales.</p>
									
										<p class="mt-3"><strong>1. NOTIFICACIÓN, ACTUALIZACIÓN, RETIRO O REVOCACIÓN.</strong></p>
										
										<p class="mt-3">En todo momento los usuarios podrán solicitar a LA FUNDACIÓN para que actualice, ratifique, adicione o elimine los datos que mantenga en depósito, siempre que con la eliminación no se haga imposible la prestación de los servicios a los que se encuentra afiliado o vinculado.</p>
										<p class="mt-3">En caso de que persista en la intención de eliminar la información, deberá asumir las consecuencias de la terminación anticipada de los servicios a los que esté vinculado.</p>
										<p class="mt-3">Para ejercer estos derechos de habilita el correo electrónico sevipaz@localhost o en las instalaciones de la oficina en la ubicación mencionada.</p>

										<p class="mt-3">PROCEDIMIENTO DE CONSULTAS</p>

										<p class="mt-3">Los Titulares o sus causahabientes podrán consultar la información personal del Titular, que repose en cualquiera de nuestras bases de datos. Como responsables del Tratamiento o Encargado del Tratamiento, LA FUNDACIÓN suministrará a estos toda la información contenida en el registro individual o que esté vinculada con la identificación del Titular.</p>
										<p class="mt-3">La consulta se formulará por medio del correo electrónico sevipaz@localhost o en las instalaciones de la oficina.</p>
										<p class="mt-3">La consulta será atendida en un término máximo de quince (15) días hábiles contados a partir de la fecha de recibo de la misma. Cuando no fuere posible atender la consulta dentro de dicho término, se informará al interesado, expresando los motivos de la demora y señalando la fecha en que se atenderá su consulta, la cual en ningún caso podrá superar los diez (10) días hábiles siguientes al vencimiento del primer término.</p>
										
										
										<p class="mt-3">PROCEDIMIENTO PARA RECLAMOS</p>
										<p class="mt-3">El Titular o sus causahabientes, que consideren que la información contenida en nuestras bases de datos debe ser objeto de corrección, actualización o supresión, o cuando adviertan el presunto incumplimiento de cualquiera de los deberes contenidos en la Ley o en los presentes términos; podrán presentar un reclamo ante el responsable del Tratamiento o el Encargado del Tratamiento el cual será tramitado bajo las siguientes reglas:</p>
										<p class="mt-3">1. El reclamo se formulará mediante solicitud dirigida al responsable del Tratamiento o al Encargado del Tratamiento, con la identificación del Titular, la descripción de los hechos que dan lugar al reclamo, la dirección, y acompañando los documentos que se quiera hacer valer. Si el reclamo resulta incompleto, se requerirá al interesado dentro de los cinco (5) días siguientes a la recepción del reclamo para que subsane las fallas. Transcurridos dos (2) meses desde la fecha del requerimiento, sin que el solicitante presente la información requerida, se entenderá que ha desistido del reclamo.</p>
										<p class="mt-3">En caso de que quien reciba el reclamo en LA FUNDACIÓN no sea competente para resolverlo, dará traslado a quien corresponda en un término máximo de cinco (5) días hábiles e informará de la situación al interesado.</p>
										<p class="mt-3">2. Una vez recibido el reclamo completo, se incluirá en la base de datos una leyenda que rece «reclamo en trámite» y el motivo de este, en un término no mayor a cinco (5) días hábiles. Dicha leyenda deberá mantenerse hasta que el reclamo sea decidido.</p>
										<p class="mt-3">3. El término máximo para atender el reclamo será de Treinta (30) días hábiles contados a partir del día siguiente a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho término, se informará al interesado los motivos de la demora y la fecha en que se atenderá su reclamo, la cual en ningún caso podrá superar los quince (15) días hábiles siguientes al vencimiento del primer término.</p>


										<p class="mt-3">PROCEDIMIENTO PARA LA REVOCATORIA DE LA AUTORIZACIÓN Y/O SOLICITUD DE SUPRESIÓN DE DATOS.</p>
										<p class="mt-3">El Titular o sus causahabientes que determinen revocar la autorización otorgada para el Tratamiento de la información contenida en nuestras bases de datos puede hacerlo mediante la presentación de un reclamo, de acuerdo con lo establecido en el artículo 15 de la Ley 1581 de 2012 el decreto 1377 de 2013 y el procedimiento indicado en esta política.</p>
										<p class="mt-3">Si vencido el término LA FUNDACIÓN no elimina los datos, el Titular podrá solicitar a la Superintendencia de Industria y Comercio que ordene la revocatoria de la autorización y/o la supresión de los datos personales.</p>
										<p class="mt-3">En cualquier caso, de acuerdo con el artículo 9 del Decreto 1377 DE 2013. La solicitud de supresión de la información y la revocatoria de la autorización no procederán cuando el Titular tenga un deber legal o contractual de permanecer en la base de datos.


										<p class="mt-3"><strong>1. AUTORIZACIÓN.</strong></p>
										<p class="mt-3">Consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de datos personales. Aviso de privacidad: Comunicación verbal o escrita generada por el responsable, dirigida al Titular para el tratamiento de sus datos personales, mediante la cual se le informa acerca de la existencia de las políticas de tratamiento de información que le serán aplicables, la forma de acceder a las mismas y las finalidades del tratamiento que se pretende dar a los datos personales.</p>
										
										<p class="mt-3"><strong>DEFINICIONES.</strong></p>
										<p class="mt-3"><strong>BASE DE DATOS. </strong> Conjunto organizado de datos personales que sea objeto de tratamiento</p>
										<p class="mt-3"><strong>CAUSAHABIENTE: </strong> persona que ha sucedido a otra por causa de muerte (heredero).</p>
										<p class="mt-3"><strong>DATO PERSONAL. </strong></p>
										<p class="mt-3">Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.</p>
										<p class="mt-3"><strong>DATOS SENSIBLES. </strong></p>
										<p class="mt-3">Aquellos que afectan la intimidad del Titular o cuyo uso indebido pueda generar su discriminación como losque revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promuevan intereses de cualquier partido político o que garanticen los derechos y garantías de las personas.</p>
										<p class="mt-3"><strong>DATO PÚBLICO. </strong></p>
										<p class="mt-3">Dato calificado expresamente como tal, según la ley o la Constitución Política y todos aquellos que no sean privados o semiprivados, de conformidad con la Ley 1266 e 2008. “Son públicos, entre otros, los datos contenidos en documentos públicos”.</p>


										<p class="mt-3">En caso de presentarse alguna irregularidad o incumplimiento de la ley por parte de LA FUNDACIÓN, el trabajador deberá:</p>
										<p class="mt-3">Enviar una comunicación escrita dirigida a LA FUNDACIÓN, especificando correo electrónico, cedula o identificación y un relato sucinto de los hechos que generaron la reclamación o inconformidad.</p>
										<p class="mt-3">De estar incompleta, dentro de los cinco (5) días siguientes a la recepción del reclamo, el peticionario deberá allegar toda la información que solicite LA FUNDACIÓN, previa solicitud hecha al peticionario por el medio que esta considere necesario, con el fin de subsanar las inconsistencias.</p>
										<p class="mt-3">En los cinco (5) días siguientes a la recepción del reclamo, el peticionario deberá allegar toda la información que solicite LA FUNDACIÓN, previa solicitud hecha al peticionario por el medio que esta considere necesario, con el fin de subsanar las inconsistencias.</p>
										<p class="mt-3">Si dentro de los dos meses siguientes a la solicitud que realice LA FUNDACIÓN, no se allegaran los documentos solicitados para subsanar las inconsistencias presentadas en la petición, se entenderá que el peticionario desistió de la solicitud.</p>
										<p class="mt-3">Dentro de los quince días siguientes a la radicación de la petición, LA FUNDACIÓN, dará respuesta a la petición, en caso de no ser posible dar solución en el término anterior, se especificará la fecha en la cual se resolverá la petición, sin que transcurran ocho días, posteriores al vencimiento del primer término.</p>

										<p class="mt-3"><strong>1. MODIFICACIÓN.</strong></p>

										<p class="mt-3">LA FUNDACIÓN se reserva el derecho a modificar la presente política de privación de datos, para adecuarla a las disposiciones legales, jurisprudenciales o la demás normatividad que la afecte. En el evento de llegar a presentarse alguna modificación serán dadas a conocer al trabajador por el medio que la FUNDACIÓN considere pertinente.</p>

										<p class="mt-3"><strong>1. LIMITACIONES TEMPORALES AL TRATAMIENTO DE LOS DATOS PERSONALES.</strong></p>
										<p class="mt-3">LA FUNDACIÓN sólo podrán recolectar, almacenar, usar o circular los datos personales durante el tiempo que sea razonable y necesario, de acuerdo con las finalidades que justificaron el tratamiento, atendiendo a las disposiciones aplicables a la materia de que se trate y a los aspectos administrativos, contables, fiscales, jurídicos e históricos de la información.</p>
										<p class="mt-3">Una vez cumplida la o las finalidades del tratamiento y sin perjuicio de normas legales que dispongan lo contrario, el responsable y el Encargado deberán proceder a la supresión de los datos personales en su posesión. No obstante, lo anterior, los datos personales deberán ser conservados cuando así se requiera para el cumplimiento de una obligación legal o contractual.</p>
										<p class="mt-3">LA FUNDACIÓN y encargados del tratamiento deberán documentar los procedimientos para el Tratamiento, conservación y supresión de los datos personales de conformidad con las disposiciones aplicables a la materia de que se trate, así como las instrucciones que al respecto imparta la Superintendencia de Industria y Comercio.</p>

										<p class="mt-3"><strong>1. PUBLICACIÓN.</strong></p>

										<p class="mt-3">El presente documento se pone a disposición de los usuarios y todos aquellos interesados en el siguiente enlace  http://www.sevipaz.org/privacidad</p>


									
									
									</div>
									
								</div>
							</div>
						</div>
			
						<br />
							
							<!-- APP-FOOTER -->
							<partial name="~/Views/Shared/layouts/_landingfooter.cshtml" />
							<!--/APP-FOOTER-->

						</div>
					</div>
					<!-- CONTAINER CLOSED -->
				</div>


