<div class="form-group">
	<label class="form-label">Categorias secundarias</label>
	<select multiple class="form-control select2-show-search form-select" id="lst-categorias">
		<option disabled value="">Seleccione..</option>
		@foreach (var item in Model)
		{
			<option value="@item.Id">@item.Nombre</option>
		}
	</select>
	<span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
</div>