@model List<frontend.Models.CategoriaDTO>
@{
    Layout = "_Layout3";
}
<div class="page-header" id="PublicarBlog">
    <div>
        <h1 class="page-title">Crear Blogs Confival</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Blogs</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crear un Blog</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->


<div class="row">
    <div id="visualizar-blog-confirmar" class="hide-info">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-default pad-text" role="alert">
                    <span class="alert-inner--icon me-2"><i class="fe fe-thumbs-up"></i></span>
                    <span class="alert-inner--text"><strong>Tu publicación esta siendo analizada,</strong> Uno de nuestros colaboradores te notificara al correo electronico cuando sea aprovada !!!</span>
                    <div class="row">
                        <div class="col-12">
                            <a asp-action="Index" asp-controller="Home" class="btn btn-success" style="margin-top:20px;">Quiero publicar otro Blog!!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-4 col-sm-12 col-xs-12" id="visualizador-campos">
        <div id="seccion-uno">
            <div id="seccion-uno-publicar">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mt-3 header-blog-publicar"> Empecemos con:  Titulo, Imagen</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Titulo</label>
                            <input class="form-control" type="text" placeholder="Titulo de tu blog" id="titulo-blog">
                        </div>
                        <div class="invalid-feedback" id="invalid-titulo-blog">Debes agregar un titulo para el blog</div>
                        <div class="form-group">
                            <label class="form-label">Imagen del Blog</label>
                            <div class="col-sm-12 col-md-12">
                                <input type="file" class="dropify" data-height="200" accept=" image/jpeg, image/png" id="imagen-blog" />
                            </div>
                            <div class="invalid-feedback" id="invalid-imagen-blog-principal">Debes agregar una imagen</div>
                        </div>
                        <a class="btn btn-success" onclick="AddTitulo()" style="margin-top:20px;">Añadir</a>
                    </div>
                </div>
            </div>
            <div id="seccion-contenido" class="hide-info">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mt-3 header-blog-publicar"> Contenido</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Subtitulo</label>
                            <input class="form-control" type="text" placeholder="Subtitulo de tu blog" id="subtitulo-blog">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Parrafo</label>
                            <textarea class="form-control mb-4" placeholder="Refacta el parrafo" rows="8" id="parrafo-general"></textarea>
                        </div>
                        <a href="#PublicarBlog" class="btn btn-success" onclick="AddContenido()" style="margin-top:20px;">Añadir</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="text-muted">Configurar galeria: </p>
                    <p>
                        <a href="#PublicarBlog" class="btn btn-primary" onclick="ShowFormGallery()" style="margin-top:10px;">Crear Galeria</a>
                    </p>
                </div>
            </div>
        </div>
        <div id="seccion-galeria" class="hide-info">
            <div class="card">
                <div class="card-header-blogs">
                    <h4 class="mt-3 header-blog-publicar">Agrega imagen a la galeria !!</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label">Imagen</label>
                        <div class="col-sm-12 col-md-12">
                            <input type="file" class="dropify" data-height="200" accept=" image/jpeg, image/png" id="imagen-g" />
                        </div>
                        <div class="invalid-feedback" id="invalid-imagen-g">Debes agregar una imagen</div>
                    </div>
                    @*<div class="form-group">
                        <label class="form-label">Descripción</label>
                        <textarea class="form-control mb-4" placeholder="Descripcion" rows="3" id="descripcion-ig"></textarea>
                    </div>
                    <div class="form-group" style="padding-bottom: 35px;">
                        <label class="form-label">URL Fuente</label>
                        <input class="form-control" type="text" placeholder="URL Fuente" id="url-fuente-ig">
                    </div>*@
                   @* <hr>
                    <p>Datos Metadata</p>
                    <div class="form-group">
                        <label class="form-label">Texto alternativo</label>
                        <input class="form-control" type="text" placeholder="Alt=' '" id="texto-alternativo-ig">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Titulo</label>
                        <textarea class="form-control mb-4" placeholder="Titulo=' '" rows="3" id="titulo-ig"></textarea>
                    </div>*@
                    <a class="btn btn-success" onclick="addImgGallery()" style="margin-top:20px;">Añadir</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="text-muted">Configurar Categoria: </p>
                    <p>
                        <a class="btn btn-danger" onclick="backContenido()" style="margin-top:10px;">Volver al Contenido</a>
                        <a class="btn btn-primary" onclick="NextGallery()" style="margin-top:10px;">Ir a Categoria</a>
                    </p>
                </div>
            </div>
        </div>
        <div id="seccion-categorias" class="hide-info">
            <div class="card">
                <div class="card-header-blogs">
                    <h4 class="mt-3 header-blog-publicar">Selecciona las categorias del Blog !!</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label">Categoria principal</label>
                        <select class="form-control select2 form-select" data-placeholder="Seleccione .." id="categorias-principal">
                            <option label="Choose one"></option>
                            @foreach (var item in Model)
                            {
                                <option value="@item.Id">@item.Nombre</option>
                            }
                        </select>
                    </div>
                    <div id="reload">
                        <partial name="~/Views/Blog/_CategoriasSecundarias.cshtml" model="@Model" />
                    </div>
                </div>
            </div>
        </div>
        <div id="seccion-btn-finalizar" class="hide-info">
            <div class="card">
                <div class="card-header-blogs">
                    <h4 class="mt-3 header-blog-publicar">Genial !!</h4>
                </div>
                <div class="card-body">
                    <p class="text-muted">Agrega las categorias secundarias que consideres necesarias y procede a publicar</p>
                    <p>
                        <a href="#PublicarBlog" class="btn btn-primary" onclick="Publicar()" style="margin-top:20px;">Publicar !!</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xl-8 col-sm-12 col-xs-12" id="visualizar-blog-principal">
        <div class="card">
            <div class="main-chat-header pt-3 d-block d-sm-flex">
                <div class="margin-auto">
                    <h3 class="margin-auto">Visualiza tu blog</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="main-chat-body flex-2 ps" id="ChatBody">
                    <div class="content-inner">
                        <div class="row justify-content-center text-center">
                            <!-- Seccion 1 -->
                            <div id="contenido-blog-visualizar"></div>
                            <div class="ps-relative p-1 bg-light br-5 hide-info" id="img-onchange">
                                <img src="" alt="img" class="cover-image br-5 ms-auto me-auto wp-100" id="blah"><br>
                            </div>
                            <div id="contenido-blog" style="margin-top:20px;">
                                <div id="parrafo1" class="hide-info"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="main-chat-header pt-3 d-block d-sm-flex">
                <div class="margin-auto">
                    <h3 class="margin-auto">Visualiza la galeria</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="text-center demo-gallery">
                    <div class="mt-2">
                        <ul id="lightgallery" class="list-unstyled row row-sm">
                            <li class="col-sm-6 col-lg-4" id="lightgalleryLi1">
                                <div class="ps-relative p-1 bg-light br-5 " id="onchange-ig">
                                    <img src="" alt="img" height="90" class="cover-image br-5 ms-auto me-auto wp-100" id="imgGalleryBlog1"><br>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="api-error">
        <div class="modal-dialog modal-dialog-centered text-center " role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body text-center p-4">
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <i class="ion-wrench fs-65 text-primary lh-1 mb-5 d-inline-block"></i>
                    <h4 class="text-success tx-semibold">Estamos trabajando para solucionar!</h4>
                    <p class="text-muted">Nuestro sistema esta presentando cambios, intentalo de nuevo mas tarde.</p>
                    <button aria-label="Close" class="btn btn-success pd-x-25" data-bs-dismiss="modal">Cerrar</button>
                    <a class="btn btn-info pd-x-25" asp-action="Create" asp-controller="Blog">Inicio</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="campos-null">
        <div class="modal-dialog modal-dialog-centered text-center " role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body text-center p-4">
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <i class="ion-wrench fs-65 text-primary lh-1 mb-5 d-inline-block"></i>
                    <h4 class="text-success tx-semibold">Hay campos vacios en la creación del blog!</h4>
                    <p class="text-muted">El campo 'titulo', 'imagen principal' o 'contenido' no fueron diligenciados</p>
                    <button aria-label="Close" class="btn btn-success pd-x-25" data-bs-dismiss="modal">Cerrar</button>
                    <a class="btn btn-info pd-x-25" asp-action="Create" asp-controller="Blog">Inicio</a>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script src="../assets/js/WebConfival/Blogs/Blogs.js"></script>

    <!-- SELECT2 JS -->
    <script src="~/assets/plugins/select2/select2.full.min.js"></script>

    <!--Internal Fileuploads js-->
    <script src="~/assets/plugins/fileuploads/js/fileupload.js"></script>
    <script src="~/assets/plugins/fileuploads/js/file-upload.js"></script>

    <!-- FORM ELEMENTADVANCED JS -->
    <script src="~/assets/js/formelementadvnced.js"></script>

    <!--- TABS JS -->
    <script src="~/assets/plugins/tabs/jquery.multipurpose_tabcontent.js"></script>
    <script src="~/assets/plugins/tabs/tab-content.js"></script>

    <!-- Internal Chat js-->
    <script src="~/assets/js/chat.js"></script>
}
