@using System.Globalization;

<div class="table-responsive">
    <table class="table table-inbox table-hover text-nowrap mb-0">
        <tbody>
            @foreach (var item in Model.value)
            {
                <tr onclick="DetalleCorreo(`@item.Body.Content.ToString()`, `@item.Subject`)">
                    <td class="view-message dont-show fw-semibold">@item.Sender.EmailAddress.Address</td>
                    <td class="view-message">@item.Subject</td>
                    <td class="view-message fw-semibold">@(DateTime.ParseExact(item.ReceivedDateTime, "yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture).AddHours(-5))</td>
                </tr>
            }
        </tbody>
    </table>
</div>