@model frontend.Models.Graph.MessagesGraphDTO
@{
    Layout = "_Layout3";
}
<div class="page-header">
    <div>
        <h1 class="page-title">Elementos enviados</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Outlook</li>
            <li class="breadcrumb-item active" aria-current="page">Elementos enviados</li>
        </ol>
    </div>
</div>

<div class="row">
    <partial name="~/Views/Shared/Graph/_BienvenidaGraph.cshtml" />
</div>

<div class="row">
    <div class="col-md-12 col-lg-4 col-xl-3">
        <partial name="~/Views/Shared/Graph/_NavegacionOutlook.cshtml" />
    </div>
    <div class="col-md-12 col-lg-8 col-xl-9">
        <div class="card">
            <div class="card-body p-6">
                <div class="inbox-body">
                    <div class="mail-option">
                        <div class="row">
                            <div class="col-md-12 col-lg-7 col-xl-7">
                                <h3 class="header-family">Elementos enviados</h3>
                            </div>
                            <div class="col-md-12 col-lg-5 col-xl-5">
                                <ul class="unstyled inbox-pagination">
                                    <li><span>Mostrando del registro @((Model.PaginaActual * 10) - 9) al @(Model.PaginaActual * 10 > Model.Count ? Model.Count : Model.PaginaActual * 10) de @Model.Count</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <partial name="~/Views/Shared/Graph/_CorreosOutlook.cshtml" />
                    <div class="col-sm-12 col-md-12 table-responsive" style="margin-top: 10px;">
                        <partial name="~/Views/Shared/_Paginador.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Shared/Graph/_DetalleCorreo.cshtml" />

@section scripts {
    <script src="~/assets/js/WebConfival/OutlookGraph/Outlook.js"></script>
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
}
