@model confinancia.Models.Graph.MeGraphDTO
@{
    Layout = "_Layout3";
}
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<div class="row align-items-center">
					<div class="col-lg-12 col-md-12 col-xl-6">
						<div class="d-flex flex-wrap align-items-center">
							<div class="profile-img-main rounded">
								<img src=@ViewBag.ImageData alt="img" class="m-0 p-1 rounded hrem-6">
							</div>
							<div class="ms-4">
								<h2 class="header-family pad-text"><strong>@Model.GivenName</strong>, Revisa tus reuniones mas recientes</h2>
								<h4>@Model.JobTitle</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>